// angular-bootstrap needs this
.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer;
}

h1 {
  font-size: 25px;
}

h2 {
  font-size: 20px;
}

.hiddenAtStart {
  visibility: hidden;
}

.loading-container {
  position: relative;
}

.loading-container .loading:before, .loading-container .loading:after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-height: 50px;
  min-width: 50px;
}

.loading-container .loading:before {
  background-color: white;
  opacity: 0.5;
}

#maincontainer {
  margin: 10px 20px 20px 20px;
}

.simpletd {
  //width: 100px;
  max-width: 500px;
  //overflow: scroll;
}

.simpleth {
  // width: 100px;
}

.simpletable td, table td * {
  vertical-align: top;
  border: 1px;
  text-align: center;
}

nav ul ul {
  display: block;
}

body {
  height: 5000px;
  overflow: visible;
  margin: 0px;
}

#left-panel {
  height: 5000px;
}

.btn-ribbon {
  padding: 2px 5px;
}

.login-info span {
  text-transform: capitalize;
  font-size: 14px;
  color: #A8A8A8;
}

.detailPageTable {
  width: 100%;
  max-width: 500px;
  td {
    input {
      width: 100%;
    }
    textarea {
      width: 100%;
      min-height: 300px;
    }
    select {
      width: 100%;
    }
  }
}

.colorDiv {
  width: 40px;
  height: 20px;
}

input.ng-invalid {
  border: 5px solid red;

}

#tableImporter {
  td {
    vertical-align: top;
    text-align: left;
    li {
      text-align: left;
    }
  }
}

.simpledetailsmenu {
  margin-top: 20px;
}

.startPageElement {
  position: relative;
  display: block;
  float: left;
  margin: 3px;
}

.startPageAddButton {
  min-width: 150;
  height: 150;
  font-size: 64px;
}

.TILE {
  background-color: transparent;
  .tilename {
    left: 10px;
    bottom: 10px;
    position: absolute;
  }

  .tilemenuoverlay {
    left: 2px;
    top: 50px;
    position: absolute;
  }

  .tilemenu {
    left: 10px;
    top: 10px;
    position: absolute;
  }
}

.TILETEXT {
  .tilename {
    background-color: white;
  }
}

.TILESMALL {
  width: 150px;
  height: 150px;
  .TILE;
}

.TILEWIDE {
  width: 305px;
  height: 150px;
  .TILE;
}

.TILELARGE {
  width: 305px;
  height: 305px;
  .TILE;
}

.TILEPLAINSMALL {
  .TILESMALL;
}

.TILEPLANESMALL {
  .TILEPLAINSMALL;
}

.TILEPLAINLARGE {
  .TILELARGE;
}

.TILEPLAINWIDE {
  .TILEWIDE;
}

.TILEIMAGETEXTSMALL {
  .TILESMALL;
  .TILETEXT;
}

.TILEIMAGETEXTWIDE {
  .TILEWIDE;
  .TILETEXT;
}

.TILEIMAGETEXTLARGE {
  .TILELARGE;
  .TILETEXT;
}