.nav,
.pagination,
.carousel,
.panel-title a {
    cursor: pointer;
}

h1 {
    font-size: 25px;
}

h2 {
    font-size: 20px;
}

.hiddenAtStart {
    visibility: hidden;
}

.loading-container {
    position: relative;
}

.row-odd {
    background-color: lightblue;
}

.serverstatus {
    text-align: left;
}

.row-even {
    background-color: lightyellow;
}

.loading-container .loading:before,
.loading-container .loading:after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-height: 50px;
    min-width: 50px;
}

.loading-container .loading:before {
    background-color: white;
    opacity: 0.5;
}

#maincontainer {
    margin: 10px 20px 20px 20px;
}

.simpletd {
    max-width: 500px;
}

.simpletable td,
table td * {
    vertical-align: top;
    border: 1px;
    text-align: center;
}

nav ul ul {
    display: block;
}

body {
    height: 5000px;
    overflow: visible;
    margin: 0px;
}

#left-panel {
    height: 5000px;
}

.btn-ribbon {
    padding: 2px 5px;
}

.login-info span {
    text-transform: capitalize;
    font-size: 14px;
    color: #A8A8A8;
}

.detailPageTable {
    width: 100%;
    max-width: 600px;
}

.detailPageTable td {

    text-align: right;
    vertical-align: top;
    max-width: 500px;
    font-size: 16px;
}

.detailPageTable tr {

}

.detailPageTableText {
    background-color: #ffffff;
    margin-top: 5px;
    font-weight: bold;
    text-align: right;

}

.detailPageTable td input {
    width: 100%;
    text-align: left;
}

/*
.detailPageTable td input[type=checkbox] {
float: left;
padding-top: 5px;
}

.detailPageTable td input[type=text] {
width: 100%;
float: left;
text-align: left;
border: 1px solid #ccc;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
-moz-box-shadow: 2px 2px 3px #666;
-webkit-box-shadow: 2px 2px 3px #666;
box-shadow: 2px 2px 3px #666;
font-size: 16px;
padding: 4px 7px;
outline: 0;
-webkit-appearance: none;

}
*/
.detailPageTable input:focus {

    background-color: #d3d3d3;
}

.detailPageTable td textarea {
    width: 100%;
    min-height: 300px;
    text-align: left;
}

.detailPageTable td select {
    width: 100%;
}

.colorDiv {
    width: 40px;
    height: 20px;
}

input.ng-invalid {
    border: 5px solid red;
}

#tableImporter td {
    vertical-align: top;
    text-align: left;
}

#tableImporter td li {
    text-align: left;
}

.simpledetailsmenu {
    margin-top: 20px;
}

.startPageElement {
    position: relative;
    display: block;
    float: left;
    margin: 3px;
}

.startPageAddButton {
    min-width: 150;
    height: 150;
    font-size: 64px;
}

.TILE {
    background-color: transparent;
}

.TILE .tilename {
    left: 10px;
    bottom: 10px;
    position: absolute;
}

.TILE .tilemenuoverlay {
    left: 2px;
    top: 50px;
    position: absolute;
}

.TILE .tilemenu {
    left: 10px;
    top: 10px;
    position: absolute;
}

.TILETEXT .tilename {
    background-color: white;
}

.TILESMALL {
    width: 150px;
    height: 150px;
    background-color: transparent;
}

.TILESMALL .tilename {
    left: 10px;
    bottom: 10px;
    position: absolute;
}

.TILESMALL .tilemenuoverlay {
    left: 2px;
    top: 50px;
    position: absolute;
}

.TILESMALL .tilemenu {
    left: 10px;
    top: 10px;
    position: absolute;
}

.TILEWIDE {
    width: 305px;
    height: 150px;
    background-color: transparent;
}

.TILEWIDE .tilename {
    left: 10px;
    bottom: 10px;
    position: absolute;
}

.TILEWIDE .tilemenuoverlay {
    left: 2px;
    top: 50px;
    position: absolute;
}

.TILEWIDE .tilemenu {
    left: 10px;
    top: 10px;
    position: absolute;
}

.TILELARGE {
    width: 305px;
    height: 305px;
    background-color: transparent;
}

.TILELARGE .tilename {
    left: 10px;
    bottom: 10px;
    position: absolute;
}

.TILELARGE .tilemenuoverlay {
    left: 2px;
    top: 50px;
    position: absolute;
}

.TILELARGE .tilemenu {
    left: 10px;
    top: 10px;
    position: absolute;
}

.TILEPLAINSMALL {
    width: 150px;
    height: 150px;
    background-color: transparent;
}

.TILEPLAINSMALL .tilename {
    left: 10px;
    bottom: 10px;
    position: absolute;
}

.TILEPLAINSMALL .tilemenuoverlay {
    left: 2px;
    top: 50px;
    position: absolute;
}

.TILEPLAINSMALL .tilemenu {
    left: 10px;
    top: 10px;
    position: absolute;
}

.TILEPLANESMALL {
    width: 150px;
    height: 150px;
    background-color: transparent;
}

.TILEPLANESMALL .tilename {
    left: 10px;
    bottom: 10px;
    position: absolute;
}

.TILEPLANESMALL .tilemenuoverlay {
    left: 2px;
    top: 50px;
    position: absolute;
}

.TILEPLANESMALL .tilemenu {
    left: 10px;
    top: 10px;
    position: absolute;
}

.TILEPLAINLARGE {
    width: 305px;
    height: 305px;
    background-color: transparent;
}

.TILEPLAINLARGE .tilename {
    left: 10px;
    bottom: 10px;
    position: absolute;
}

.TILEPLAINLARGE .tilemenuoverlay {
    left: 2px;
    top: 50px;
    position: absolute;
}

.TILEPLAINLARGE .tilemenu {
    left: 10px;
    top: 10px;
    position: absolute;
}

.TILEPLAINWIDE {
    width: 305px;
    height: 150px;
    background-color: transparent;
}

.TILEPLAINWIDE .tilename {
    left: 10px;
    bottom: 10px;
    position: absolute;
}

.TILEPLAINWIDE .tilemenuoverlay {
    left: 2px;
    top: 50px;
    position: absolute;
}

.TILEPLAINWIDE .tilemenu {
    left: 10px;
    top: 10px;
    position: absolute;
}

.TILEIMAGETEXTSMALL {
    width: 150px;
    height: 150px;
    background-color: transparent;
}

.TILEIMAGETEXTSMALL .tilename {
    left: 10px;
    bottom: 10px;
    position: absolute;
}

.TILEIMAGETEXTSMALL .tilemenuoverlay {
    left: 2px;
    top: 50px;
    position: absolute;
}

.TILEIMAGETEXTSMALL .tilemenu {
    left: 10px;
    top: 10px;
    position: absolute;
}

.TILEIMAGETEXTSMALL .tilename {
    background-color: white;
}

.TILEIMAGETEXTWIDE {
    width: 305px;
    height: 150px;
    background-color: transparent;
}

.TILEIMAGETEXTWIDE .tilename {
    left: 10px;
    bottom: 10px;
    position: absolute;
}

.TILEIMAGETEXTWIDE .tilemenuoverlay {
    left: 2px;
    top: 50px;
    position: absolute;
}

.TILEIMAGETEXTWIDE .tilemenu {
    left: 10px;
    top: 10px;
    position: absolute;
}

.TILEIMAGETEXTWIDE .tilename {
    background-color: white;
}

.TILEIMAGETEXTLARGE {
    width: 305px;
    height: 305px;
    background-color: transparent;
}

.TILEIMAGETEXTLARGE .tilename {
    left: 10px;
    bottom: 10px;
    position: absolute;
}

.TILEIMAGETEXTLARGE .tilemenuoverlay {
    left: 2px;
    top: 50px;
    position: absolute;
}

.TILEIMAGETEXTLARGE .tilemenu {
    left: 10px;
    top: 10px;
    position: absolute;
}

.TILEIMAGETEXTLARGE .tilename {
    background-color: white;
}

