<div style="float: left; width: 100%">
    <!-- Property existant, provide edit and delete functionality -->
    <div ng-show="editable&&property">
    <span ng-click="deleteProperty()"
          class="btn btn-xs btn-danger">
        <i class="glyphicon glyphicon-remove" tooltip="Eigenschaft entfernen"></i>
    </span>
        <input style="text-align: left" ng-model="property.value">
      <span ng-click="updateProperty()"
            class="btn btn-xs btn-primary">
        <i class="glyphicon glyphicon-arrow-right" tooltip="Eigenschaft aktuaöisieren"></i>
    </span>

    </div>
    <!-- Property not yet existant -->
    <div ng-show="editable&&!property" ng-click="createProperty()" style="text-align:left;width: 100%"
         tooltip="Legt einen eintrag an, Eigenschaft wird dadurch veränderbar"
         class="btn btn-xs btn-primary">
        <i class="glyphicon glyphicon-plus"></i>
        Anlegen


    </div>

    <!-- Uneditable Property -->
    <div ng-show="!editable"
         class="btn btn-xs btn-danger" style="text-align:left;width: 100%"
         tooltip="Diese Eigenschaft kann nicht im Live-betrieb geändert werden, nutzen Sie die application.properties Datei und starten Sie den Serve neu.">
        <i class="glyphicon glyphicon-remove"></i>
        Nicht änderbar.
    </div>
</div>