<table class="detailPageTable">
    <tr>
        <td>Hauptfarbe</td>
        <td><input type="text" ng-model="designSettings.backgroundColor"
                   ng-pattern="/0x[0-9A-Fa-f]{6}/">
        </td>
        <td>
            <div class="colorDiv"
                 ng-style="{ 'background-color' : hexToColor(designSettings.backgroundColor) }"></div>
        </td>
        <td><span foreversymbol></span></td>
    </tr>
    <tr>
        <td>Schlüsselfarbe</td>
        <td><input type="text" ng-model="designSettings.keyColor"
                   ng-pattern="/0x[0-9A-Fa-f]{6}/">
        </td>
        <td>
            <div class="colorDiv"
                 ng-style="{ 'background-color' : hexToColor(designSettings.keyColor) }"></div>
        </td>
        <td><span foreversymbol></span></td>
    </tr>
    <tr>
        <td>Listfarbe 1</td>
        <td><input type="text" ng-model="designSettings.listBackgroundColor1"
                   ng-pattern="/0x[0-9A-Fa-f]{6}/"></td>
        <td>
            <div class="colorDiv"
                 ng-style="{ 'background-color' : hexToColor(designSettings.listBackgroundColor1) }"></div>
        </td>
        <td><span foreversymbol></span></td>
    </tr>
    <tr>
        <td>Listfarbe 2</td>
        <td><input type="text" ng-model="designSettings.listBackgroundColor2"
                   ng-pattern="/0x[0-9A-Fa-f]{6}/">
        </td>
        <td>
            <div class="colorDiv"
                 ng-style="{ 'background-color' : hexToColor(designSettings.listBackgroundColor2) }"></div>
        </td>
        <td><span foreversymbol></span></td>
    </tr>
    <tr>
        <td>Textfarbe</td>
        <td><input type="text" ng-model="designSettings.textColor"
                   ng-pattern="/0x[0-9A-Fa-f]{6}/">
        </td>
        <td>
            <div class="colorDiv"
                 ng-style="{ 'background-color' : hexToColor(designSettings.textColor) }"></div>
        </td>
        <td><span foreversymbol></span></td>
    </tr>

</table>