<div class="well">

    <div ng-if="!isLoading">
        <div ng-if="!keeper">

            <a  class="btn btn-large btn-success" ng-click="createKeeper()">Importer Sperre aktivieren</a>

        </div>
        <div ng-if="keeper">
            <h1><a ng-href="#/keeper/{{keeper.id}}">Importer Sperre</a> <a ng-click="deleteKeeper()" class="btn btn-danger">
                <i class="glyphicon glyphicon-trash"></i>
            </a></h1>
        </div>


    </div>

    <div ng-if="keeper">
        <b>Generelle Eigenschaften</b>
        <table >
            <tr>
                <td>Lösch-Sperre</td>
                <td><input type="checkbox" ng-model="keeper.deletionLock"></td>
            </tr>
            <tr>
                <td>Eigenschaften-Sperre</td>
                <td><input type="checkbox" ng-model="keeper.propertyLock"></td>
            </tr>
<tr><td>&nbsp;</td></tr>

        </table>
    </div>


    <div ng-if="keeper.propertyLock">
        <b>Explizite Eigenschaftenauswahl (Keine Auswahl bedeutet, dass alle Eigenschaften gesperrt sind)</b>
        <table>

            <tr ng-repeat="(key, value) in targetProps"><td>{{key}}</td><td><input type="checkbox" ng-model="targetProps[key]"/></td> </tr>

        </table>
    </div>

    <div ng-if="keeper">
        <a class="btn btn-success" ng-click="saveKeeper()">Speichern</a>
    </div>

</div>
