<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>CubeAdmin</title>
    <meta name="description" content="">


    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Basic Styles -->
    <link rel="stylesheet" type="text/css" media="screen" href="libs/smartadmin/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="libs/smartadmin/css/font-awesome.min.css">

    <!-- SmartAdmin Styles : Please note (smartadmin-production.css) was created using LESS variables -->
    <link rel="stylesheet" type="text/css" media="screen" href="libs/smartadmin/css/smartadmin-production.css">
    <link rel="stylesheet" type="text/css" media="screen" href="libs/smartadmin/css/smartadmin-skins.css">


    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/ngModal/dist/ng-modal.css"/>
    <link rel="stylesheet" href="bower_components/ng-table/ng-table.css"/>
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->


    <!-- FAVICONS -->
    <link rel="shortcut icon" href="libs/smartadmin/img/favicon/favicon.ico" type="image/x-icon">
    <link rel="icon" href="libs/smartadmin/img/favicon/favicon.ico" type="image/x-icon">


</head>
<body ng-controller="UserCurrentCtrl" ng-app="cubeAdminApp">
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Add your site or application content here -->

<!-- HEADER -->
<header id="header">
    <div id="logo-group">

        <!-- PLACE YOUR LOGO HERE -->
        <span id="logo"> <img src="images/mall2goadmin.png" alt="Appcube"> </span>
        <!-- END LOGO PLACEHOLDER --

        <!-- Note: The activity badge color changes when clicked and resets the number to 0
        Suggestion: You may want to set a flag when this happens to tick off all checked messages / notifications -->
        <span id="activity" class="activity-dropdown"> <i
                class="fa fa-user"></i> <b
                class="badge"> 4 </b> </span>


    </div>


    <!-- pulled right: nav area -->
    <div class="pull-right">


        <!-- collapse menu button -->
        <div id="hide-menu" class="btn-header pull-right">
            <span> <a href="javascript:void(0);" title="Collapse Menu"><i class="fa fa-reorder"></i></a> </span>
        </div>
        <!-- end collapse menu -->

        <!-- logout button -->
        <div id="logout_ng" class="btn-header transparent pull-right">
            <span> <a ng-click="logout()" title="Sign Out"><i class="fa fa-sign-out"></i></a> </span>
        </div>
        <!-- end logout button -->

        <!-- search mobile button (this is hidden till mobile view port) -->
        <div id="search-mobile" class="btn-header transparent pull-right">
            <span> <a href="javascript:void(0)" title="Search"><i class="fa fa-search"></i></a> </span>
        </div>
        <!-- end search mobile button -->

        <!-- input: search field -->
        <form action="#ajax/search.html" class="header-search pull-right">
            <input type="text" placeholder="Suche..." id="search-fld">
            <button type="submit">
                <i class="fa fa-search"></i>
            </button>
            <a href="javascript:void(0);" id="cancel-search-js" title="Cancel Search"><i class="fa fa-times"></i></a>
        </form>
        <!-- end input: search field -->


        <!-- multiple lang dropdown : find all flags in the image folder -->
        <ul class="header-dropdown-list hidden-xs">

            <li>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <img alt=""
                                                                                 src="libs/smartadmin/img/flags/de.png">
                    <span> DE </span> <i class="fa fa-angle-down"></i> </a>
                <ul class="dropdown-menu pull-right">
                    <li class="active">
                        <a href="javascript:void(0);"><img alt="" src="libs/smartadmin/img/flags/de.png"> DE</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);"><img alt="" src="libs/smartadmin/img/flags/us.png"> EN</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);"><img alt="" src="libs/smartadmin/img/flags/es.png"> ES</a>
                    </li>

                </ul>
            </li>
        </ul>

    </div>
    <!-- end pulled right: nav area -->

</header>
<!-- END HEADER -->

<!-- Left panel : Navigation area -->
<!-- Note: This width of the aside area can be adjusted through LESS variables -->
<aside id="left-panel">

    <!-- User info -->
    <div class="login-info">
        <span ng-bind-template="{{currentUser.firstName}} {{currentUser.lastName}}"> <!-- User image size is adjusted inside CSS, it should stay as it -->

        </span>
    </div>
    <!-- end user info -->

    <!-- NAVIGATION : This navigation is also responsive

    To make this navigation dynamic please make sure to link the node
    (the reference to the nav > ul) after page load. Or the navigation
    will not initialize.
-->
    <nav>
        <!-- NOTE: Notice the gaps after each icon usage <i></i>..
        Please note that these links work a bit different than
        traditional href="" links. See documentation for details.
    -->

        <ul>
            <li class="">
                <a href="#/" title="Dashboard"><i class="fa fa-lg fa-fw fa-home"></i> <span
                        class="menu-item-parent">Übersicht</span></a>
            </li>
            <li>
                <a href="#/"><i class="fa fa-lg fa-fw fa-bar-chart-o"></i> <span
                        class="menu-item-parent">Konfiguration</span></a>
                <ul>
                    <li>
                        <a ng-href="#/startpage">Startseite</a>
                    </li>

                    <!--   <li>
                           <a ng-href="#/">Email-Templates (TBD)</a>
                       </li> -->
                    <li>
                        <a ng-href="#/template">Templates</a>
                    </li>
                    <li>
                        <a ng-href="#/ftp">Medienserver</a>
                    </li>
                    <li>
                        <a ng-href="#/keeper">Import-Sperren</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-lg fa-fw fa-table"></i> <span class="menu-item-parent">Bestand</span></a>
                <ul>
                    <li>
                        <a ng-href="#/user">Kunden</a>
                    </li>
                    <li>
                        <a ng-href="#/order">Bestellungen</a>
                    </li>
                    <li>
                        <a ng-href="#/product">Produkte</a>
                    </li>
                    <li>
                        <a ng-href="#/productcategory">Kategorien</a>
                    </li>
                    <li>
                        <a ng-href="#/pickupstation">Abholstationen</a>
                    </li>
                    <li>
                        <a ng-href="#/retailer">Anbieter</a>
                    </li>
                    <li>
                        <a ng-href="#/corporate">Corporates</a>
                    </li>
                    <li>
                        <a ng-href="#/client">Mandanten</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-lg fa-fw fa-desktop"></i> <span
                        class="menu-item-parent">Monitoring</span></a>
                <ul>
                    <li>
                        <a ng-href="#/serverstatus">Server-Status</a>
                    </li>

                    <li>
                        <a ng-href="#/workflow">Workflows</a>
                    </li>
                    <li>
                        <a ng-href="#/notification">Notifications</a>
                    </li>
                    <li>
                        <a ng-href="#/keyvalues">KeyValues</a>
                    </li>
                    <li>
                        <a ng-href="#/appdevice">AppDevices</a>
                    </li>
                    <li>
                        <a ng-href="#/livelog">Live Server-Logs</a>
                    </li>
                    <li>
                        <a ng-href="#/mails">Emails</a>
                    </li>
                    <li>
                        <a ng-href="#/">Push Nachrichten (TBD)</a>
                    </li>
                    <li>
                        <a ng-href="#/">SMS (TBD)</a>
                    </li>
                    <li>
                        <a ng-href="#/logsession">LogSessions</a>
                    </li>

                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-lg fa-fw fa-desktop"></i> <span
                        class="menu-item-parent">Reporting</span></a>
                <ul>
                    <li>
                        <a ng-href="#/statistics">Bestellungen</a>
                    </li>
                    <li>
                        <a ng-href="#/statisticsuser">Kunden</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#/qrcode"><i class="fa fa-lg fa-fw fa-calendar"><em>3</em></i> <span
                        class="menu-item-parent">QR-Codes</span></a>
            </li>
        </ul>


    </nav>
    <span class="minifyme"> <i class="fa fa-arrow-circle-left hit"></i> </span>

    <div ng-show="isDemoMode" class="demo-icon-font">
        <i class="fa fa-wrench"></i> Demo-Mode
    </div>

</aside>


<!-- MAIN PANEL -->
<div id="main" role="main">

    <!-- RIBBON -->
    <div id="ribbon">

        <span class="ribbon-button-alignment"> <span id="back" class="btn btn-ribbon" back-button><i
                class="fa fa-chevron-left"></i></span> </span>
        <span class="ribbon-button-alignment"> <span id="refresh" class="btn btn-ribbon" refresh-button><i
                class="fa fa-refresh"></i></span> </span>

        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <!-- This is auto generated -->

        </ol>
        <!-- end breadcrumb -->

        <span class="breadcrumb" style="float:right" ng-bind="currentHost"></span>

        <!-- You can also add more buttons to the
        ribbon for further usability

        Example below:

        <span class="ribbon-button-alignment pull-right">
        <span id="search" class="btn btn-ribbon hidden-xs" data-title="search"><i class="fa-grid"></i> Change Grid</span>
        <span id="add" class="btn btn-ribbon hidden-xs" data-title="add"><i class="fa-plus"></i> Add</span>
        <span id="search" class="btn btn-ribbon" data-title="search"><i class="fa-search"></i> <span class="hidden-mobile">Search</span></span>
    </span> -->

    </div>
    <!-- END RIBBON -->


    <div id="maincontainer" ng-view></div>


    <!-- END MAIN CONTENT -->

</div>


<!-- END MAIN PANEL -->


<!--[if lt IE 9]>
<script src="bower_components/es5-shim/es5-shim.js"></script>
<script src="bower_components/json3/lib/json3.min.js"></script>
<![endif]-->

<!-- build:js scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-mocks/angular-mocks.js"></script>
<script src="bower_components/ngModal/dist/ng-modal.js"></script>
<script src="bower_components/cryptojslib/**/*.js"></script>
<script src="bower_components/ng-table/ng-table.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="bower_components/ng-ckeditor/ng-ckeditor.js"></script>
<script src="bower_components/ngstorage/ngStorage.js"></script>
<script src="bower_components/angular-file-upload/angular-file-upload.js"></script>
<script src="bower_components/d3/d3.js"></script>
<script src="bower_components/angular-charts/dist/angular-charts.js"></script>
<!-- endbower -->
<script src="bower_components/cryptojslib/rollups/sha256.js"></script>
<script src="bower_components/cryptojslib/components/enc-base64-min.js"></script>
<script src="bower_components/ng-ckeditor/libs/ckeditor/ckeditor.js"></script>
<!-- bower has no power with this lib /wrong directory structure somehow-->

<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/app.js"></script>
<script src="scripts/controllers/main.js"></script>
<script src="scripts/controllers/mails.js"></script>
<script src="scripts/controllers/product.js"></script>
<script src="scripts/services/product.js"></script>
<script src="scripts/services/mockproducts.js"></script>
<script src="scripts/services/helper.js"></script>
<script src="scripts/controllers/serverstatus.js"></script>
<script src="scripts/services/serverstatus.js"></script>
<script src="scripts/services/mockserverstatus.js"></script>
<script src="scripts/controllers/pickupstation.js"></script>
<script src="scripts/services/pickupstation.js"></script>
<script src="scripts/services/mockpickupstation.js"></script>
<script src="scripts/controllers/user.js"></script>
<script src="scripts/services/mockuser.js"></script>
<script src="scripts/services/user.js"></script>
<script src="scripts/directives/loadingcontainer.js"></script>
<script src="scripts/services/globals.js"></script>
<script src="scripts/controllers/order.js"></script>
<script src="scripts/services/order.js"></script>
<script src="scripts/filters/pickupstationshort.js"></script>
<script src="scripts/filters/usershort.js"></script>
<script src="scripts/filters/paymentshort.js"></script>
<script src="scripts/controllers/productcategory.js"></script>
<script src="scripts/services/productcategory.js"></script>
<script src="scripts/services/client.js"></script>
<script src="scripts/services/retailer.js"></script>
<script src="scripts/controllers/client.js"></script>
<script src="scripts/controllers/retailer.js"></script>
<script src="scripts/filters/designsettingsshort.js"></script>
<script src="scripts/filters/clientshort.js"></script>
<script src="scripts/filters/buildingaddressshort.js"></script>
<script src="scripts/controllers/workflow.js"></script>
<script src="scripts/controllers/qrcode.js"></script>
<script src="scripts/services/qrcode.js"></script>
<script src="scripts/services/workflow.js"></script>
<script src="scripts/filters/qrcodegenerator.js"></script>
<script src="scripts/filters/productshort.js"></script>
<script src="scripts/filters/input.js"></script>
<script src="scripts/services/security.js"></script>
<script src="scripts/controllers/security.js"></script>
<script src="scripts/directives/backbutton.js"></script>
<script src="scripts/services/dialogs.js"></script>
<script src="scripts/services/simplegenerator.js"></script>
<script src="scripts/services/simplehttpinterceptor.js"></script>
<script src="scripts/services/importerstatus.js"></script>
<script src="scripts/services/properties.js"></script>
<script src="scripts/controllers/keyvalues.js"></script>
<script src="scripts/services/keyvalues.js"></script>
<script src="scripts/services/mails.js"></script>
<script src="scripts/controllers/ftp.js"></script>
<script src="scripts/services/ftp.js"></script>
<script src="scripts/controllers/startpage.js"></script>
<script src="scripts/services/startpage.js"></script>
<script src="scripts/services/enums.js"></script>
<script src="scripts/controllers/notification.js"></script>
<script src="scripts/services/notification.js"></script>
<script src="scripts/services/basket.js"></script>
<script src="scripts/services/suggestion.js"></script>
<script src="scripts/services/note.js"></script>
<script src="scripts/services/appdevice.js"></script>
<script src="scripts/services/notificationlive.js"></script>
<script src="scripts/controllers/appdevice.js"></script>
<script src="scripts/directives/refreshbutton.js"></script>
<script src="scripts/controllers/livelog.js"></script>
<script src="scripts/services/livelog.js"></script>
<script src="scripts/services/statistics.js"></script>
<script src="scripts/directives/foreversymbol.js"></script>
<script src="scripts/directives/customonchange.js"></script>
<script src="scripts/controllers/template.js"></script>
<script src="scripts/services/template.js"></script>
<script src="scripts/filters/unsafe.js"></script>
<script src="scripts/services/updatebackend.js"></script>
<script src="scripts/controllers/statistics.js"></script>
<script src="scripts/controllers/statisticsuser.js"></script>
<script src="scripts/services/corporate.js"></script>
<script src="scripts/controllers/corporate.js"></script>
<script src="scripts/services/utility.js"></script>
<script src="scripts/directives/rt-typeaheadreference.js"></script>
<script src="scripts/services/keeper.js"></script>
<script src="scripts/controllers/keeper.js"></script>
<script src="scripts/directives/rt-designsettingseditor.js"></script>
<script src="scripts/directives/rtkeeper.js"></script>
<script src="scripts/services/applicationpropertyservice.js"></script>
<script src="scripts/controllers/applicationpropertycontroller.js"></script>
<script src="scripts/services/logsession.js"></script>
<script src="scripts/controllers/logsession.js"></script>
<script src="scripts/services/messages.js"></script>
<script src="scripts/services/errortranslator.js"></script>
<script src="scripts/directives/rt-applicationproperty.js"></script>
<script src="scripts/directives/startpagecategory.js"></script>
<!-- endbuild -->
<script src="scripts/settings.js"></script>

<script src="scripts/httpBackendStub.js"></script>

</body>
</html>