<div class="row">
    <div class="col-sm-12">

        <h1 ng-bind-template="AppDevice {{data.id}}">Lade Daten...</h1>
        <table class="detailPageTable">
            <tr>
                <td>Id</td>
                <td><input type="text" ng-model="data.id"></td>
            </tr>
            <tr>
                <td>App-Id</td>
                <td>
                    <input type="text" ng-model="data.appId">
                </td>
            </tr>
            <tr>
                <td>App-Version</td>
                <td>
                    <input type="text" ng-model="data.appVersion">
                </td>
            </tr>
            <tr>
                <td>Device-Typ</td>
                <td><input type="text" ng-model="data.deviceType"></td>
            </tr>
            <tr>
                <td>Änderungsdatum</td>
                <td>{{data.metaData.lastChangedTimestamp | date:'dd.MM.yyyy HH:mm'}}</td>
            </tr>
            <tr>
                <td>Token</td>
                <td><input type="text" ng-model="data.token"></td>
            </tr>
            <tr>
                <td>Sprache</td>
                <td><input type="text" ng-model="data.language"></td>
            </tr>
            <tr>
                <td>User</td>
                <td><a ng-href="#/user/{{user.id}}">{{user.firstName}} {{user.lastName}}</a></td>
            </tr>
        </table>

    </div>


    <button class="btn btn-success" ng-click="sendPush()">Test Push-Mitteilung versenden</button>
</div>

<div class="ng-include:'views/simpledetails.html';"></div>
