<p>This is the Corporate view.</p>


<table class="detailPageTable">
    <tr>
        <td>Key</td>
        <td><input type="text" ng-model="data.key"></td>
    </tr>
    <tr>
        <td>Value</td>
        <td><input type="text" ng-model="data.value"></td>
    </tr>
</table>

<div class="ng-include:'views/simpledetails.html';"></div>


</button>
