<div class="row">
    <div class="col-sm-12">

        <h1 ng-bind-template="Mandant {{data.name}}">Lade Daten...</h1>
        <table class="detailPageTable">
            <tr>
                <td>Name</td>
                <td><input type="text" ng-model="data.name"></td>
                <td><span foreversymbol></span></td>
            </tr>
            <tr>
                <td>Minimale Bestellpreise ({{data.minimumBasketPriceCent/100 | currency}})</td>
                <td><input type="text" ng-model="data.minimumBasketPriceCent"></td>
                <td></td>
            </tr>
            <tr>
                <td>Prüfe minimalen Bestellpreis</td>
                <td><input type="checkbox" ng-model="data.checkMinimumBasketPrice"></td>
                <td></td>
            </tr>
            <tr>
                <td>Versandkosten</td>
                <td>{{data.deliveryCostCentsMap}}
                </td>
            </tr>
            <tr>
                <td>Versandkosten-Info</td>
                <td><textarea ng-model="data.deliveryCostInfo"></textarea>
                </td>
                <td>Nicht mehr automatisch generieren nach Import?<input type="checkbox"
                                                                         ng-model="data.keepDeliveryCostInfo"><span
                        ng-show="data.keepDeliveryCostInfo"
                        foreversymbol></span><br/>Defaultwert wiederherstellen<br/>
                    <button ng-click="setDefaultDeliveryCosts()"><span class="fa fa-reply"></span></button>
                </td>
            </tr>

            <tr>
                <td>Farben</td>

                <td>
                    <div design-settings-editor design-settings="data.designSettings"></div>
                </td>
            </tr>
        </table>

        <h2>Abholstationen</h2>
        <table class="detailPageTable">
            <tr ng-repeat="station in data.pickupStations">
                <td><a ng-href="#/pickupstation/{{station.id}}">{{station.name}}</a></td>
                <td><img ng-src="{{station.pictures[0].imageUrlStatic}}" height="96"></td>
            </tr>
        </table>
    </div>

</div>

<div class="ng-include:'views/simpledetails.html';"></div>
