<p>This is the Corporate view.</p>


<tabset>
    <tab heading="Allgemein">


        <h1 ng-bind-template="Corporate {{data.name}}">Lade Daten...</h1>
        <table class="detailPageTable">
            <tr>
                <td>ID</td>
                <td><input type="text" ng-model="data.id"></td>
            </tr>
            <tr>
                <td>Name</td>
                <td><input type="text" ng-model="data.name"></td>
            </tr>
            <tr>
                <td>ClientId</td>
                <td><input type="text" ng-model="data.clientID"></td>
            </tr>

            <tr>
                <td>checkMinimumBasketPrice</td>
                <td><input type="checkbox" ng-model="data.checkMinimumBasketPrice"></td>
            </tr>


            <tr>
                <td>minimumBasketPriceCent</td>
                <td><input type="text" ng-model="data.minimumBasketPriceCent"></td>
            </tr>
            <tr>
                <td>Farben</td>

                <td>
                    <div design-settings-editor design-settings="data.designSettings"></div>

                </td>
            </tr>

            <!-- Retailers -->
            <tr>
                <td colspan="2"><h2>Zugeordnete Retailer</h2></td>
            </tr>
            <tr ng-repeat="retailerId in data.retailerIDs track by $index">

                <td><a href="#/retailer/{{retailerId}}">Retailer {{$index+1}}</a></td>
                <td>


                    <div rt-typeahead-reference object="data.retailerIDs" field="{{$index}}"
                         search-method="findRetailers(object)"></div>

                    <a ng-click="removeItemFromArray(data.retailerIDs,retailerId);"
                       class="btn btn-xs btn-danger">
                        <i class="glyphicon glyphicon-remove"></i>
                    </a>

                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <a ng-click="appendItemToArray(data.retailerIDs)" class="btn btn-xs btn-primary  ">
                        <i class="glyphicon glyphicon-plus"></i>
                    </a>
            </tr>
            <!-- PickupStations -->
            <tr>
                <td colspan="2"><h2>Zugeordnete Abholstationen</h2></td>
            </tr>
            <tr ng-repeat="pickupstationid in data.pickupStationIDs track by $index">


                <td><a href="#/pickupstation/{{pickupstationid}}">Pickupstation {{$index+1}}</a></td>
                <td>
                    <div rt-typeahead-reference object="data.pickupStationIDs" field="{{$index}}"
                         search-method="findPickupStations(object)"></div>

                    <a ng-click="removeItemFromArray(data.pickupStationIDs,pickupstationid);"
                       class="btn btn-xs btn-danger">
                        <i class="glyphicon glyphicon-remove"></i>
                    </a>

                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <a ng-click="appendItemToArray(data.pickupStationIDs)" class="btn btn-xs btn-primary  ">
                        <i class="glyphicon glyphicon-plus"></i>
                    </a>
                </td>
            </tr>
        </table>
    </tab>
    <tab heading="Startseite(n)">


        <table>
            <tr>
                <td>

                </td>
                <td>ID</td>
                <td>Name</td>
                <td>Datum</td>
            </tr>
            <tr ng-repeat="startpage in currentStartPages  track by $index">
                <td>

                    <a href="#/startpage/{{startpage.id}}" class="btn btn-sm btn-info">
                        <i class="glyphicon glyphicon-edit"></i>
                    </a>
                </td>

                <td>
                    {{startpage.id}}
                </td>
                <td>
                    {{startpage.name}}
                </td>
                <td>{{startpage.metaData.lastChangedTimestamp}}</td>

            </tr>
        </table>

    </tab>

    <tab heading="Templates">

        <table>
            <tr>
                <td>

                </td>
                <td>Name</td>
                <td>Typ</td>
                <td>Sichtbarkeit</td>
                <td>Pfad</td>
                <td>Seiten Ansicht</td>

            </tr>
            <tr ng-repeat="template in currentTemplates  track by $index">
                <td>

                    <a href="#/template/{{template.id}}" class="btn btn-sm btn-info">
                        <i class="glyphicon glyphicon-edit"></i>
                    </a>
                </td>

                <td>
                    {{template.name}}
                </td>
                <td>
                    {{template.type}}
                </td>
                <td>
                    {{template.visibility}}
                </td>
                <td>
                    {{template.path}}
                </td>
                <td>
                    <a href="{{template.fullPageUrl}}" target="_pagepreview">
                        {{template.fullPageUrl}}
                    </a>
                </td>

            </tr>
        </table>


    </tab>
</tabset>
<button class="btn btn-success" ng-click="importDefaultCorporateTemplates(data)">Import Default Templates for
    this
    Corporate
</button>
<div class="ng-include:'views/simpledetails.html';"></div>


</button>
