<div class="row">
    <div ng-repeat="entry in data.list" style="float:left;margin:20px;min-height:300px">
        <h1>{{entry.name}}</h1>
        <table>
            <tr>
                <th>Key</th>
                <th>Value</th>
            </tr>
            <tr ng-repeat="(key,value) in entry">
                <td>{{key}}</td>
                <td>{{value}}</td>
            </tr>
        </table>

        <div>
            <a ng-href="{{entry.imageUrlStatic}}" target="new" ng-switch on="getExtension(entry.imageUrlStatic)">
                <img ng-src="{{entry.imageUrlStatic}}" ng-switch-when="image"
                        >

                <div ng-switch-default></div>
                <div>{{loadExternalFile(entry.imageUrlStatic)}}</div>
            </a>
        </div>
    </div>
</div>

<div>
    <input type="file" ng-file-select type="file">

    <div ng-if="canUpload()">
        <button class="btn btn-success" ng-click="uploadNewFile()">Hochladen</button>
        <progressbar ng-if="progress > 0" class="progress-striped active" value="progress" type="success">
            {{progress}}
        </progressbar>
    </div>

</div>

<div class="ng-include:'views/simpledetails.html';"></div>

