<div class="ng-include:'views/simpletable.html';"></div>
<div>
    <p>Neue Datei hochladen</p>

    <div>
        <input type="text" ng-model="newFileName">
        <input type="file" type="file" ng-file-select>

        <div ng-if="canUpload()">
            <button class="btn btn-success" ng-click="uploadNewFile()">Hochladen</button>
            <progressbar ng-if="progress > 0" class="progress-striped active" value="progress" type="success">
                {{progress}}
            </progressbar>
        </div>

    </div>
</div>