<div class="row">
    <div class="col-sm-12">

        <h1 ng-bind-template="Import-Sperre {{data.targetId}}">Lade Daten...</h1>
        <table class="detailPageTable">
            <tr>
                <td>ZielObjekt-Id</td>
                <td><input type="text" ng-model="data.targetId"></td>
            </tr>
            <tr>
                <td>ZielObjekt-Typ</td>
                <td><select ng-model="data.targetTypeName"
                            ng-options="target.value as target.title for target in targettypes"></select>
                    <a ng-href="#/{{getTargetTypePath(data.targetTypeName)}}/{{data.targetId}}">Link</a>
                </td>

            </tr>
            <tr>
                <td>Lösch-Sperre</td>
                <td><input type="checkbox" ng-model="data.deletionLock"></td>
            </tr>
            <tr>
                <td>Eigenschaften-Sperre</td>
                <td><input type="checkbox" ng-model="data.propertyLock"></td>
            </tr>
            <tr>
                <td><span ng-if="data.propertiesToKeep.length > 0">beschränken auf</span></td>
                <td>
                    <table>
                        <tr ng-repeat="property in data.propertiesToKeep track by $index">
                            <td><input type="text" value="{{property}}"/>
                            </td>
                        </tr>
                    </table>
                    <a class="btn" ng-click="addProperty()">Eigenschaft hinzufügen</a>
                    <a class="btn"
                       ng-click="remLastProperty()">Letzte Eigenschaft aus Liste entfernen</a>
                </td>


            </tr>

        </table>
    </div>

</div>

<div class="ng-include:'views/simpledetails.html';"></div>
