<div>
    <div ng-repeat="entry in data.list" style="float:left;margin:20px;min-height:300px">
        <h1>{{entry.name}}</h1>
        <table>
            <tr>
                <th>Key</th>
                <th>Value</th>
            </tr>
            <tr ng-repeat="item in entry.items">
                <td>{{item.key}}</td>
                <td>{{item.value}}</td>
            </tr>
        </table>

    </div>
</div>