<div class="row">
    <!--<button class="btn btn-success" ng-click="resend(data)">Email mit aktuellen Einstellungen erneut versenden</button>
-->Autologgin ON
    <p>Index: {{index}}</p>

    <p>Length: {{logs.length}}</p>
</div>

<div class="row">
    <div class="col-sm-12">


        <table class="table">
            <tr>
                <th>Index</th>
                <th>Zeit</th>
                <th>Level</th>
                <th>Nachricht</th>
            </tr>
            <tr ng-repeat="log in logs">
                <td>{{log.index}}</td>
                <td>{{log.time}}</td>
                <td>{{log.level}}</td>
                <td>{{log.message}}</td>
            </tr>
        </table>
    </div>

    <!--<button class="btn btn-success" ng-click="resend(data)">Email mit aktuellen Einstellungen erneut versenden</button>
-->
</div>