<div class="well no-padding">
    <form id="login-form" class="smart-form client-form">
        <header>
            Anmeldung
        </header>

        <fieldset>

            <section>
                <label class="label">E-mail</label>
                <label class="input"> <i class="icon-append fa fa-user"></i>
                    <input type="text" name="email" ng-model="user.email" autocomplete="off">
                    <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i>
                        Bitte geben Sie ihre Email-Adresse hier ein</b></label>
            </section>

            <section>
                <label class="label">Passwort</label>
                <label class="input"> <i class="icon-append fa fa-lock"></i>
                    <input type="password" name="password" ng-model="user.password"
                           autocomplete="off">
                    <b class="tooltip tooltip-top-right"><i class="fa fa-lock txt-color-teal"></i>Bitte
                        geben Sie ihr Passwort hier ein</b> </label>
            </section>

            <section>
                <label class="label">Endpunkt</label>
                <label class="input">
                    <select ng-model="api" ng-options="a.description for a in apis">

                    </select>
                </label>
            </section>

        </fieldset>
        <footer>

            <div class="alert alert-warning fade in" ng-show="showError">
                <i class="fa-fw fa fa-warning"></i>
                <strong>Fehler</strong> Benutzername oder Passwort falsch
            </div>


            <button ng-click="login(api,user.email,user.password)" class="btn btn-primary">
                Sign in
            </button>
        </footer>
    </form>

</div>

