<div class="row">
    <div class="col-sm-12">
        <h1 ng-bind-template="LogSession {{data.id}}">Lade Daten...</h1>
        <table class="table detailPageTable">
            <tr>
                <td>Datum</td>
                <td>{{data.metaData.creationTimestamp | date:'dd.MM.yyyy HH:mm'}}</td>
            </tr>
            <tr>
                <td>App-Id</td>
                <td>
                    <input type="text" ng-model="data.appId">
                </td>
            </tr>
            <tr>
                <td>App-Version</td>
                <td>
                    <input type="text" ng-model="data.appVersion">
                </td>
            </tr>
            <tr>
                <td>DeviceType</td>
                <td>
                    <input type="text" ng-model="data.deviceType">
                </td>
            </tr>
            <tr>
                <td>Info</td>
                <td>
                    <textarea style="min-height:0px">{{data.info}}</textarea>
                </td>
            </tr>
            <tr>
                <td>Events</td>
                <td>
                    <table>
                        <tr>
                            <th>Index</th>
                            <th>Datum</th>
                            <th>Key</th>
                            <th>Value</th>
                            <th>Duration</th>
                        </tr>
                        <tr ng-repeat="event in data.events">
                            <td>{{$index}}</td>
                            <td>{{event.timestamp}}</td>
                            <td><input type="text" ng-model="event.key"></td>
                            <td><textarea rows="1" cols="10" style="min-height:0px">{{event.value || json}}</textarea></td>
                            <td>{{event.duration}}</td>
                        </tr>

                    </table>

                </td>
            </tr>
            <tr ng-show="data.limitToDrink">
                <td>Getränk</td>
                <td><select ng-model="data.drink" ng-options="v.value as v.title for v in drinks"> </select>
                </td>
            </tr>


        </table>
    </div>

    <div style="clear:left"></div>
    <div class="ng-include:'views/simpledetails.html';"></div>
</div>