<div class="row">
    <div class="col-sm-12">


        <table class="table">
            <tr>
                <td>Empfänger</td>
                <td><input type="text" ng-model="data.emailData.to"></td>
            </tr>
            <tr>
                <td>Betreff</td>
                <td><input type="text" ng-model="data.emailData.subject"></td>
            </tr>
            <tr>
                <td>Inhalt</td>
                <td>
                    <textarea ckeditor="editorOptions" ng-model="data.emailData.body"></textarea>
                </td>
            </tr>
            <tr>
                <td>Status</td>
                <td><input ng-model="data.status"></td>
            </tr>
        </table>
    </div>

    <button class="btn btn-success" ng-click="resend(data)">Email mit aktuellen Einstellungen erneut versenden</button>

</div>

<div class="row">
</div>

<div class="ng-include:'views/simpledetails.html';"></div>