<div class="row">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
        <h1 class="page-title txt-color-blueDark"><i class="fa-fw fa fa-home"></i> Übersicht
            <span> Gesamtübersicht</span>
        </h1>
    </div>
    <div class="col-xs-12 col-sm-5 col-md-5 col-lg-8">
        <ul id="sparks" class="">
            <li class="sparks-info">
                <h4> Kunden <span class="txt-color-greenDark"><i class="fa fa-male"></i>&nbsp;{{getTotalByKey('#User').value}}</span>
                </h4>

            </li>
            <li class="sparks-info">
                <h4> Kunden (mit Bestellung)<span class="txt-color-greenDark"><i class="fa fa-male"></i>&nbsp;{{customersWithOrder}}</span>
                </h4>
            </li>
            <li class="sparks-info">
                <h4> Bestellungen gesamt<span class="txt-color-greenDark"><i class="fa fa-shopping-cart"></i>&nbsp;{{getTotalByKey('#Order').value}}</span>
                </h4>

            </li>
            <li class="sparks-info">
                <h4> Bestellungen heute<span class="txt-color-greenDark"><i class="fa fa-shopping-cart"></i>&nbsp;{{getTodayByKey('Order').value}}</span>
                </h4>

            </li>
            <li class="sparks-info">
                <h4> Produkte <span class="txt-color-greenDark"><i class="fa fa-archive"></i>&nbsp;{{getTotalByKey('#Product').value}}</span>
                </h4>
            </li>
        </ul>
    </div>
</div>


<!--
<div>
<h1>Top-Kunden</h1>

<div>
<table class="table">
    <tr>
        <th>Platzierung</th>
        <th>Anzahl Einkäufe</th>
        <th>Kunde</th>
    </tr>
    <tr ng-repeat="order in orders | limitTo:5">
        <td>{{$index+1}}</td>
        <td>{{order.value}}</td>
        <td><a ng-href="#/user/{{order.key}}">{{order.key}}</a></td>
    </tr>
</table>
</div>
</div> -->
<!-- Widget ID (each widget will need unique ID)-->

<div>
    <h1>Historie</h1>

    <div>
        <h1 ng-show="data === null || data === undefined">Lade Daten ...</h1>

        <table class="table">
            <tr>
                <th>Datum</th>
                <th ng-repeat="entry in daily[0].entries">{{cleanName(entry.key)}}</th>
            </tr>
            <tr ng-repeat="group in daily">
                <td>{{group.entries[0].date | date:'dd.MM.yyyy'}}</td>
                <td ng-repeat="entry in group.entries">{{entry.value}}</td>
            </tr>
        </table>
    </div>
</div>
