<div class="row">
    <div class="col-sm-12">

        <h1 ng-bind-template="Notification {{data.id}}">Lade Daten...</h1>
        <table class="detailPageTable">
            <tr>
                <td>Erstellzeitpunkt</td>
                <td>{{data.metaData.creationTimestamp | date:'dd.MM.yyyy HH:mm'}}</td>
            </tr>
            <tr>
                <td>Letzte Änderung</td>
                <td>{{data.metaData.lastChangedTimestamp | date:'dd.MM.yyyy HH:mm'}}</td>
            </tr>
            <tr>
                <td>Zustand</td>
                <td><select ng-model="data.notificationState" ng-options="v.value as v.title for v in states"> </select>
                </td>
            </tr>
            <tr>
                <td>Wiederholungen</td>
                <td><input type="text" ng-model="data.retryCount"></select>
                </td>
            </tr>
            <tr>
                <td>Daten</td>
                <td>{{ data.notificationData | json }}</td>
                </select>
                </td>
            </tr>


        </table>


    </div>

</div>

<div class="ng-include:'views/simpledetails.html';"></div>
