<div class="row">
    <div class="col-sm-12">
        <tabset>
            <tab heading="Allgemein">


                <h1 ng-bind-template="Bestellung für {{currentUser.firstName}} {{currentUser.lastName}}  vom {{data.creationTime | date:'dd.MM HH:mm'}}">
                    Lade Daten...</h1>
                <table class="detailPageTable">
                    <tr>
                        <td>Status</td>
                        <td><select ng-model="data.state" ng-options="s.value as s.title for s in orderstates"></select>
                        </td>
                    </tr>

                    <tr>
                        <td>Lieferkosten (Cent)</td>
                        <td><input type="text" ng-model="data.deliveryCostCentsMap"></td>
                    </tr>
                    <tr>
                        <td>AAX AuftragsID</td>
                        <td><input type="text" ng-model="data.externalId"></td>
                    </tr>
                    <tr>
                        <td>AAX Bestellnummer</td>
                        <td><input type="text" ng-model="data.purchaseOrderNumber"></td>
                    </tr>
                    <tr>
                        <td>Bestellzeitpunkt</td>
                        <td>{{data.creationTime | date:'dd.MM.yyyy HH:mm'}}</td>
                    </tr>

                    <tr>
                        <td>Nachricht an Kommisionierer</td>
                        <td><input type="text" ng-model="data.message"></td>
                    </tr>
                    <tr>
                        <td>Abholcode</td>
                        <td><input type="text" ng-model="data.pickupCode"></td>
                    </tr>
                    <tr>
                        <td>Abholstation</td>
                        <td>
                            <!--<select ng-model="data.pickupStation" ng-options="s as s.name for s in pickupstations">--></select>
                            {{data.pickupStation.name}}
                        </td>
                    </tr>
                    <tr>
                        <td>Kunde</td>
                        <td><a ng-href="#/user/{{data.userId}}">{{currentUser.firstName}} {{currentUser.lastName}}</a>
                        </td>
                    </tr>

                    <!--  <tr ng-repeat="price in data.prices">
                          <td>{{getPriceType(price.priceType)}}</td>
                          <td><input type="text" ng-model="price.centPriceBrutto"></td>
                      </tr>-->

                    <tr>
                        <td><h2>Produkte</h2></td>
                        <td></td>
                    </tr>

                    <tr ng-repeat="item in data.items">
                        <td><a ng-href="#/product/{{item.product.id}}">{{item.count}}x {{item.product.name}}</a></td>
                        <td><img width=92 height=96 ng-src="{{item.product.pictures[0].imageUrlStatic}}"></td>
                    </tr>
                </table>

            </tab>

            <tab heading="Notifizierung manuell auslösen">
                <div ng-if="data.state !== 'DELIVERED'">
                    <h2>Notification auslösen</h2>

                    <form>
                        <table class="table detailPageTable">
                            <tr>
                                <td>Zustand</td>
                                <td><select ng-model="notificationState"
                                            ng-options="s.code as s.title for s in orderstates"></select>

                                </td>
                            </tr>
                            <tr>
                                <td>PickupCode</td>
                                <td><input type="text" ng-model="notificationPickupCode"></td>
                            </tr>
                        </table>
                        <button class="btn"
                                ng-click="sendNotification(notificationState,notificationPickupCode,data.externalId)">
                            Senden
                        </button>
                    </form>

                </div>

                <div ng-if="data.state === 'DELIVERED'">
                    <h2>Zugehöriger Workflow ist abgeschlossen (Zustand ist auf abgeholt). Kann nicht mehr geändert
                        werden</h2>
                </div>
            </tab>

            <tab heading="Zugeordnete Workflows">
                <table class="table detailPageTable">
                    <tr>
                        <th>WorkflowName</th>
                        <th>Datum</th>
                        <th>Zustand</th>
                        <th>Aktueller Schritt</th>
                    </tr>


                    <tr ng-repeat="item in workflows">
                        <td><a ng-href="#/workflow/{{item.id}}">{{item.workflowName}}</a></td>
                        <td>{{item.metaData.creationTimestamp | date:'dd.MM.yyyy HH:mm'}}</td>
                        <td>{{item.workflowState}}</td>
                        <td>{{item.currentState.activityName}}</td>
                    </tr>
                </table>

            </tab>
        </tabset>
    </div>

</div>

<div class="ng-include:'views/simpledetails.html';"></div>
