<div class="row">
    <div class="col-sm-12">

        <h1 ng-bind-template="Webseite {{data.name}}">Lade Daten...</h1>

        <table class="table">
            <tr>
                <td>Name</td>
                <td><input ntype="text" ng-model="data.name">
                </td>
            </tr>
            <tr>
                <td>Titel</td>
                <td><input type="text" ng-model="data.title"></td>
            </tr>
            <tr>
                <td>Vater-Seiten-Id</td>
                <td><input type="text" ng-model="data.parentId"></td>
            </tr>

            <tr>
                <td>Sichtbarkeit</td>
                <td>
                    <select ng-model="data.visibility" ng-options="r.value as r.title for r in visibilities"> </select>
                </td>

            </tr>
            <tr>
                <td>Typ</td>
                <td>
                    <select ng-model="data.type" ng-options="r.value as r.title for r in types"> </select>
                </td>

            </tr>
            <tr>
                <td>
                    Helfer
                </td>
                <td>

                    <button class="btn btn-default" ng-click="isVisible = !isVisible">Bild-Finder</button>
                    <div collapse="!isVisible">
                        <div class="well well-lg">Bild-Upload:<a ng-href="#/ftp">Link</a><br/>
                            Bild-Finder: (Tippe den Namen des gewünschten Bildes in folgende Zeile ein und finde mit der
                            Autovervollständigung das entsprechende Bild auf dem Medienserver... Kann einen Moment
                            dauern)

                            <input type="text" ng-model="tempImage" class="form-control"
                                   typeahead="fcat as fcat.name for fcat in findImages($viewValue)"
                                   typeahead-loading="loadingImage"
                                    ><h4 ng-show="loadingImage">Lade...</h4>

                            <a>{{tempImage.imageUrlStatic}}</a><br/>
                            <img ng-src="{{tempImage.imageUrlStatic}}"/> <br/>
                        </div>
                    </div>


                    <button class="btn btn-default" ng-click="isSnippetsVisible = !isSnippetsVisible">Snippets

                    </button>
                    <div collapse="!isSnippetsVisible">
                        <div class="well well-lg"><h3>Angebotskachel erzeugen</h3>
                            Bild:
                            <input type="text" ng-model="tempImage" class="form-control"
                                   typeahead="fcat as fcat.name for fcat in findImages($viewValue)"
                                   typeahead-loading="loadingImageSnippet"
                                    >
                            <h4 ng-show="loadingImageSnippet">Lade...</h4>
                            <img ng-src="{{tempImage.imageUrlStatic}}"/> <br/>
                            Text:
                            <input class="form-control" type="text" ng-model="tempText"><br/>
                            <button class="button button-success"
                                    ng-click="setContentPreviewBySnippet('SnippetDefaultOffer',{IMAGEURL: tempImage.imageUrlStatic, LABEL: tempText})">
                                Generiere
                                Kachel
                            </button>
                        </div>
                    </div>

                    <button class="btn btn-default" ng-click="isPreviewVisible = !isPreviewVisible">Kachel-Vorschau

                    </button>
                    <div collapse="!isPreviewVisible">
                        <div class="well well-lg">


                            <h3>iOS</h3>

                            <div style="margin:auto;overflow:hidden;width:320px;height:129px;background-color: #fff"
                                 ng-bind-html="data.contentPreview | unsafe"></div>

                            <h3>Quadratisch</h3>

                            <div style="margin:auto;overflow:hidden;width:200px;height:200px;background-color: #fff"
                                 ng-bind-html="data.contentPreview | unsafe"></div>

                            <h3>Breit</h3>

                            <div style="margin:auto;overflow:hidden;width:640px;height:129px;background-color: #fff"
                                 ng-bind-html="data.contentPreview | unsafe"></div>
                        </div>
                    </div>


                </td>
            </tr>


            <tr>
                <td>Kachel</td>
                <td ng-switch on="data.type">

                    <div ng-switch-when="HTML" ng-switch on="previewAsCK">
                        <textarea ng-switch-when="true" ng-model="data.contentPreview"
                                  ckeditor="editorOptions"></textarea>
                        <textarea ng-switch-default="" ng-model="data.contentPreview" cols="150" rows="20"></textarea>
                        <button ng-click="previewAsCK = !previewAsCK">CK</button>
                    </div>
                    <textarea ng-switch-default="" ng-model="data.contentPreview" cols="150" rows="20"
                              style="text-align:left"></textarea>

                </td>
            </tr>
            <tr>
                <td>Inhalt</td>
                <td ng-switch on="data.type">
                    <div ng-switch-when="HTML" ng-switch on="contentAsCK">
                        <textarea ng-switch-when="true" ng-model="data.content"
                                  ckeditor="editorOptions"></textarea>
                        <textarea ng-switch-default="" ng-model="data.content" cols="150" rows="20"></textarea>
                        <button ng-click="contentAsCK = !contentAsCK">CK</button>
                    </div>

                    <textarea ng-switch-default="" ng-model="data.content" cols="150" rows="20"
                              style="text-align:left"></textarea>

                </td>
            </tr>
            <tr>
                <td>Ziel-Seite</td>
                <td><a ng-href="{{data.fullPageUrl}}">{{data.fullPageUrl}}</a></td>
            </tr>
        </table>


    </div>

</div>

<div class="ng-include:'views/simpledetails.html';"></div>


<script type="text/ng-template" id="SnippetDefaultOffer">
    <html>
    <body style="margin:0px">
    <div style="width:100%;height:100%;background-image: url({{IMAGEURL}}); background-size: cover; opacity: 1; z-index: 3; display: block; background-position: initial initial; background-repeat: initial initial;position:relative">
        <div style="width:100%;height:35px;background-color:#ff0000;position:absolute;display:block;bottom:22px;opacity:0.7;color:#fff;line-height:35px;text-align:center">
            {{LABEL}}
        </div>
    </div>
    </body>
    </html>
</script>
