<div class="row">
    <div class="col-sm-12">

        <h1 ng-bind-template="Abholstation {{data.name}}">Lade Daten...</h1>
        <table class="detailPageTable">
            <tr>
                <td>Name</td>
                <td><input type="text" ng-model="data.name"></td>
            </tr>
            <tr>
                <td>Aktiv</td>
                <td><input type="checkbox" ng-model="data.active"></td>
            </tr>

            <tr>
                <td>Beschreibung</td>
                <td><textarea ng-model="data.description"></textarea></td>
            </tr>
            <tr>
                <td>Abholzeiten</td>
                <td>
                    <table class="detailPageTable">
                        <tr>
                            <td>Offene Tage</td>
                            <td><input type="text" ng-model="data.pickupTime.openDays"></td>
                        </tr>
                        <tr>
                            <td>Öffnungszeit-Beginn (Stunde)</td>
                            <td><input type="text" ng-model="data.pickupTime.openTime.hour"></td>
                        </tr>
                        <tr>
                            <td>Öffnungszeit-Beginn (Minute)</td>
                            <td><input type="text" ng-model="data.pickupTime.openTime.minute"></td>
                        </tr>
                        <tr>
                            <td>Öffnungszeit-Ende (Stunde)</td>
                            <td><input type="text" ng-model="data.pickupTime.closeTime.hour"></td>
                        </tr>
                        <tr>
                            <td>Öffnungszeit-Ende (Minute)</td>
                            <td><input type="text" ng-model="data.pickupTime.closeTime.minute"></td>
                        </tr>
                        <tr>
                            <td>Letzte Bestellung bis</td>
                            <td><input type="text" ng-model="data.latestOrder"></td>
                        </tr>
                    </table>


            </tr>
            <tr>
                <td>Adresse</td>
                <td>
                    <table class="detailPageTable">
                        <tr>
                            <td>Strasse</td>
                            <td><input type="text" ng-model="data.buildingAddress.address.street"></td>
                        </tr>
                        <tr>
                            <td>Hausnummer</td>
                            <td><input type="text" ng-model="data.buildingAddress.address.houseNumber"></td>
                        </tr>
                        <tr>
                            <td>PLZ</td>
                            <td><input type="text" ng-model="data.buildingAddress.address.postalCode"></td>
                        </tr>
                        <tr>
                            <td>Stadt</td>
                            <td><input type="text" ng-model="data.buildingAddress.address.city"></td>
                        </tr>
                        <tr>
                            <td>Land</td>
                            <td><input type="text" ng-model="data.buildingAddress.address.country"></td>
                        </tr>
                    </table>
                </td>
            </tr>


            <tr ng-repeat="pic in data.pictures">
                <td>
                    <a ng-href="#/ftp/{{pic.fileName+ + '__.json'}}">Bild {{$index+1}}</a>
                <span style="">

                    <p ng-bind-template="{{pic.fileSize/1024| number:0}} kb"></p>

                    <p>{{pic.name}}</p>
                </span>
                </td>

                <td>
                    <a href="{{pic.imageUrlStatic}}"><img ng-src="{{pic.imageUrlStatic}}" style="margin:auto;">
                    </a>

                </td>
            </tr>
        </table>


    </div>

</div>

<div class="ng-include:'views/simpledetails.html';"></div>
