<div class="row">
    <div class="col-sm-12">

        <h1 ng-bind-template="Kategorie {{data.name}}">Lade Daten...</h1>


        <tabset>
            <tab heading="Allgemein">

                <table class="detailPageTable">
                    <tr>
                        <td>Id</td>
                        <td><input type="text" ng-model="data.id"></td>
                    </tr>
                    <tr>
                        <td>Name</td>
                        <td><input type="text" ng-model="data.name"></td>
                    </tr>
                    <tr>
                        <td>Angebot?</td>
                        <td><input type="checkbox" ng-model="data.offer"></td>
                    </tr>
                    <tr>
                        <td>

                            <a ng-href="#/productcategory/{{data.parentCategoryId}}"> <i
                                    class="glyphicon glyphicon-arrow-up"></i>parentCategoryId<i
                                    class="glyphicon glyphicon-arrow-up"></i></a>
                        </td>
                        <td>

                            <input type="text" ng-model="data.parentCategoryId"
                                   typeahead="category.id as category.name for category in findCategory($viewValue)">
                        </td>
                    </tr>
                    <tr>
                        <td>Sortierindex</td>
                        <td><input type="text" ng-model="data.sortNumber"></td>
                    </tr>
                    <tr>
                        <td>Gesamtanzahl Kindkategorien</td>
                        <td>{{data.totalChildCount}}</td>
                    </tr>
                    <tr>
                        <td>Gesamtanzahl Produkte</td>
                        <td>{{data.totalProductCount}}</td>
                    </tr>
                    <tr>
                        <td>Tiefe im Kategoriebaum</td>
                        <td>{{data.depth}}</td>
                    </tr>
                    <tr ng-if="angular.isDefined(childCategories)">
                        <td>Anzahl Kindkategorien</td>
                        <td>{{childCategories.length}}</td>
                    </tr>


                    <tr ng-repeat="tree in data.tree.items">
                        <td>Vaterkategorie {{$index+1}}</td>
                        <td><span ng-repeat="t in tree"><a ng-href="#/productcategory/{{t.id}}">{{t.name}}</a> </span>
                        </td>
                    </tr>
                    <tr ng-repeat="child in childCategories">
                        <td>Kindkategorie {{$index+1}}</td>
                        <td><a ng-href="#/productcategory/{{child.id}}">{{child.name}} ({{child.totalChildCount}} -
                            {{child.totalProductCount}}) <i class="glyphicon glyphicon-arrow-right"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td><a ng-href="#/retailer/{{data.retailerID}}">Anbieter </a></td>
                        <td><input type="text" ng-model="currentRetailer"
                                   typeahead="retailer as retailer.name for retailer in findRetailer($viewValue)"

                                >
                        </td>
                    </tr>

                    <tr ng-repeat="pic in data.pictures">
                        <td>
                            <a ng-href="#/ftp/{{pic.fileName+ + '__.json'}}">Bild {{$index+1}}</a>
                <span style="">

                    <p ng-bind-template="{{pic.fileSize/1024| number:0}} kb"></p>

                    <p>{{pic.name}}</p>
                </span>
                        </td>

                        <td>
                            <a href="{{pic.imageUrlStatic}}"><img ng-src="{{pic.imageUrlStatic}}" style="margin:auto;">
                            </a>

                        </td>
                    </tr>


                </table>
            </tab>
            <tab heading="Angebote ({{offersInCategory.length }})">
                <table class="detailPageTable">
                    <tr ng-repeat="p in offersInCategory">
                        <td><a ng-href="#/product/{{p.id}}">{{p.name}}</a></td>
                        <td><img width=96 height=96 n ng-src="{{p.pictures[0].imageUrlStatic}}"></td>
                    </tr>
                </table>

            </tab>
            <tab heading="Empfehlungen ({{recommendationsInCategory.length }})">
                <table class="detailPageTable">
                    <tr ng-repeat="p in recommendationsInCategory">
                        <td><a ng-href="#/product/{{p.id}}">{{p.name}}</a></td>
                        <td><img width=96 height=96 ng-src="{{p.pictures[0].imageUrlStatic}}"></td>
                    </tr>
                </table>
            </tab>

            <tab heading="Enthaltene Produkte ({{productsInCategory.length }})">

                <table class="detailPageTable">
                    <tr ng-repeat="p in productsInCategory">
                        <td><img width=96 height=96 ng-src="{{p.pictures[0].imageUrlStatic}}"></td>
                        <td><a ng-href="#/product/{{p.id}}">{{p.name}}</a></td>
                        <td>{{p.description}}</td>
                    </tr>
                </table>
            </tab>
        </tabset>
    </div>

</div>


<div rt-keeper target="data"></div>
<div class="ng-include:'views/simpledetails.html';"></div>
