<div class="row">
    <div class="col-sm-12">

        <h1 ng-bind-template="Produkt {{data.name}}">Lade Daten...</h1>


        <table class="detailPageTable">


            <tr>
                <td>Name</td>
                <td><input type="text" ng-model="data.name"></td>
            </tr>
            <tr>
                <td>Verfügbar</td>
                <td><input type="checkbox" ng-model="data.available"></td>
            </tr>
            <tr>
                <td>Angebot</td>
                <td><input type="checkbox" ng-model="data.offer"></td>
            </tr>
            <tr>
                <td>Verpackungseinheit</td>
                <td><input type="text" ng-model="data.packingUnit"></td>
            </tr>
            <tr>
                <td>Bestelltyp</td>
                <td><select ng-model="data.possibleOrderType"
                            ng-options="r.value as r.title for r in possibleOrderTypes"></select></td>
            </tr>
            <tr>
                <td>Empfehlung</td>
                <td><input type="checkbox" ng-model="data.recommendation"></td>
            </tr>
            <tr>
                <td>StandardProduktMenge</td>
                <td><input type="text" ng-model="data.standardProductAmount"></td>
            </tr>
            <tr>
                <td>StandardProduktEinheit</td>
                <td><input type="text" ng-model="data.standardProductUnit"></td>
            </tr>
            <tr>
                <td>SubName</td>
                <td><input type="text" ng-model="data.subName"></td>
            </tr>
            <tr>
                <td>Steuer</td>
                <td><input type="text" ng-model="data.tax"></td>
            </tr>
            <tr>
                <td>Zusatzstoffe</td>
                <td><input type="text" ng-model="data.additives"></td>
            </tr>
            <tr>
                <td>Beschreibung</td>
                <td><textarea ng-model="data.description"></textarea></td>
            </tr>
            <tr>
                <td>EAN</td>
                <td><input type="text" ng-model="data.ean"></td>
            </tr>
            <tr>
                <td>Externe Id</td>
                <td><input type="text" ng-model="data.externalProductIdentifier"></td>
            </tr>
            <tr>
                <td>Hinweis</td>
                <td><input type="text" ng-model="data.hint"></td>
            </tr>
            <tr ng-repeat="price in data.price">
                <td>{{price.chargeType}}</td>
                <td><input type="text" ng-model="price.centPriceBrutto"></td>
            </tr>

            <tr>
                <td>Id</td>
                <td><input type="text" ng-model="data.id"></td>
            </tr>

            <tr>
                <td><a ng-href="#/retailer/{{data.retailerID}}">Anbieter {{$index}} </a></td>
                <td>
                    <div rt-typeahead-reference object="data" field="retailerID"
                         search-method="findRetailers(object)"></div>
                </td>
            </tr>

            <tr>
                <td><h2>Kategorisierung</h2></td>
            </tr>

            <tr>
                <td>Kategorisierung</td>
                <td>
                    <table>
                        <tr>
                            <td ng-repeat="tree in data.tree.items">
                                <span ng-repeat="t in tree">   <i class="glyphicon glyphicon-arrow-right"></i><a
                                        ng-href="#/productcategory/{{t.id}}">{{t.name}}</a> </span>
                            </td>
                        </tr>
                    </table>
                </td>

            </tr>


            <tr ng-repeat="catId in data.productCategories track by $index">
                <td><a ng-href="#/productcategory/{{catId}}">Kategorie {{$index}}</a></td>
                <td>

                    <div rt-typeahead-reference object="data.productCategories" field="{{$index}}"
                         search-method="findProductCategory(object)"></div>

                    <a ng-click="removeItemFromArray(data.productCategories,catId);removeItemFromArray(currentProductCategory,currentProductCategory[$index])"
                       class="btn btn-xs btn-danger">
                        <i class="glyphicon glyphicon-remove"></i>
                    </a>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <a ng-click="appendItemToArray(data.productCategories)" class="btn btn-xs btn-primary  ">
                        <i class="glyphicon glyphicon-plus"></i>
                    </a>
            </tr>
            <tr ng-repeat="pic in data.pictures">
                <td>
                    <a ng-href="#/ftp/{{pic.fileName+ + '__.json'}}">Bild {{$index+1}}</a>
                <span style="">

                    <p ng-bind-template="{{pic.fileSize/1024| number:0}} kb"></p>

                    <p>{{pic.name}}</p>
                </span>
                </td>

                <td>
                    <a href="{{pic.imageUrlStatic}}" target="_imageView"><img ng-src="{{pic.imageUrlStatic}}"
                                                                              style="margin:auto;">
                    </a>

                </td>
            </tr>
        </table>


    </div>

</div>


<div rt-keeper target="data"></div>

<div class="ng-include:'views/simpledetails.html';"></div>
