<div class="row">
    <div class="col-sm-12">

        <h1 ng-bind-template="Anbieter {{data.name}}">Lade Daten...</h1>
        <table class="detailPageTable">
            <tr>
                <td>Name</td>
                <td><input type="text" ng-model="data.name"></td>
            </tr>
            <tr>
                <td>Mandant</td>
                <td><input type="text" ng-model="data.clientID"></td>
            </tr>
            <tr>
                <td><a href="#/productcategory/{{data.rootCategoryId}}">RootCategory {{$index+1}}</a></td>
                <td>

                    <input type="text" style="width:90%;"
                           ng-model="currentRootCategory"
                           typeahead="category as category.name for category in findCategories($viewValue)">
                </td>

            </tr>

            <tr>
                <td coslpan="2">
                    Erlaubte Pickupstationen
                </td>


            </tr>
            <tr ng-repeat="pickupstationid in data.validPickupStationIds track by $index">


                <td><a href="#/pickupstation/{{pickupstationid}}">Pickupstation {{$index+1}}</a></td>
                <td><input type="text" style="width:80%;"
                           ng-model="currentPickupStations[$index]"
                           typeahead="pickupstation as pickupstation.name for pickupstation in findPickupStations($viewValue)">

                    <a ng-click="removeItemFromArray(data.validPickupStationIds,pickupstationid)"
                       class="btn btn-xs btn-danger">
                        <i class="glyphicon glyphicon-remove"></i>
                    </a>

                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <a ng-click="appendItemToArray(data.validPickupStationIds)" class="btn btn-xs btn-primary  ">
                        <i class="glyphicon glyphicon-plus"></i>
                    </a>
                </td>
            </tr>
            <tr>
                <td colspan="2"><h2>Zugeordnete Corporates</h2></td>
            </tr>
            <tr ng-repeat="corporate in associatedCorporates track by $index">


                <td><a href="#/corporate/{{corporate.id}}">Corporation {{$index+1}} {{corporate.name}}</a></td>

            </tr>
            <!-- deprecated - furthermore: make it an include   <tr>
                   <td>Farben</td>

                   <td>

                       <table class="detailPageTable">
                           <tr>
                               <td>Hauptfarbe</td>
                               <td><input type="text" ng-model="data.designSettings.backgroundColor"
                                          ng-pattern="/0x[0-9A-Fa-f]{6}/">
                               </td>
                               <td>
                                   <div class="colorDiv"
                                        ng-style="{ 'background-color' : hexToColor(data.designSettings.backgroundColor) }"></div>
                               </td>
                               <td><span foreversymbol></span></td>
                           </tr>
                           <tr>
                               <td>Schlüsselfarbe</td>
                               <td><input type="text" ng-model="data.designSettings.keyColor"
                                          ng-pattern="/0x[0-9A-Fa-f]{6}/">
                               </td>
                               <td>
                                   <div class="colorDiv"
                                        ng-style="{ 'background-color' : hexToColor(data.designSettings.keyColor) }"></div>
                               </td>
                               <td><span foreversymbol></span></td>
                           </tr>
                           <tr>
                               <td>Listfarbe 1</td>
                               <td><input type="text" ng-model="data.designSettings.listBackgroundColor1"
                                          ng-pattern="/0x[0-9A-Fa-f]{6}/"></td>
                               <td>
                                   <div class="colorDiv"
                                        ng-style="{ 'background-color' : hexToColor(data.designSettings.listBackgroundColor1) }"></div>
                               </td>
                               <td><span foreversymbol></span></td>
                           </tr>
                           <tr>
                               <td>Listfarbe 2</td>
                               <td><input type="text" ng-model="data.designSettings.listBackgroundColor2"
                                          ng-pattern="/0x[0-9A-Fa-f]{6}/">
                               </td>
                               <td>
                                   <div class="colorDiv"
                                        ng-style="{ 'background-color' : hexToColor(data.designSettings.listBackgroundColor2) }"></div>
                               </td>
                               <td><span foreversymbol></span></td>
                           </tr>
                           <tr>
                               <td>Textfarbe</td>
                               <td><input type="text" ng-model="data.designSettings.textColor"
                                          ng-pattern="/0x[0-9A-Fa-f]{6}/">
                               </td>
                               <td>
                                   <div class="colorDiv"
                                        ng-style="{ 'background-color' : hexToColor(data.designSettings.textColor) }"></div>
                               </td>
                               <td><span foreversymbol></span></td>
                           </tr>   -->
        </table>
        </td>
        </tr>
        </table>


    </div>

</div>

<div class="ng-include:'views/simpledetails.html';"></div>
