<div class="row">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
        <h1 class="page-title txt-color-blueDark"><i class="fa fa-desktop fa-fw "></i> Monitoring <span>>
			Serverstatus </span></h1>
    </div>
</div>


<div class="row">


    <div class="col-sm-12 col-md-12 col-lg-12">

        <div class="jarviswidget jarviswidget-color-blueDark">
            <header>
                <h2>Lokale Einstellungen
                </h2>
            </header>

            <div>

                <div class="widget-body">
                    Demo-Mode: {{isDemoMode}} <br/>
                    Server-Url: {{host}} <br/>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">


    <div class="col-sm-12 col-md-12 col-lg-12">

        <div class="jarviswidget jarviswidget-color-blueDark">
            <header>
                <h2>Globale Einstellungen
                </h2>
            </header>

            <div>

                <div class="widget-body">
                    <table>
                        <tr ng-repeat="(key,value) in globals">
                            <td>{{key}}</td>
                            <td>{{value}}</td>
                        </tr>

                    </table>

                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">


    <div class="col-sm-12 col-md-12 col-lg-12">

        <div class="jarviswidget jarviswidget-color-blueDark">
            <header>
                <h2>Spezial-Updates
                </h2>
            </header>

            <div>

                <div class="widget-body">
                    <button class="btn btn-success" ng-click="updateBackend('sha256')">AAX SHA-256 Passwort-Update
                    </button>

                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">


    <div class="col-sm-12 col-md-12 col-lg-12">

        <div class="jarviswidget jarviswidget-color-blueDark">
            <header>
                <h2>Importer
                </h2>
            </header>

            <div>

                <div class="widget-body">

                    <div class="btn btn-xs btn-primary" ng-click="refreshImporterStatus()">Status aktualisieren
                    </div>
                    <div class="btn btn-xs btn-warning" ng-click="startImporter()">Starte Vollimport</div>


                    <div class="btn btn-xs btn-warning" ng-click="startImporterSwitch()">Starte Switcher</div>
                    <div class="btn btn-xs btn-warning" ng-click="startImporterExpand()">Expandiere Daten</div>


                </div>

                <table class="simpletable" id="tableImporter"
                        >
                    <tr>
                        <th>Importername</th>
                        <th>Läuft?</th>
                        <th>Fortschritt (0..1)</th>
                        <th>Erfolgreich beendet?</th>
                        <th>Letzter Startzeitpunkt</th>
                        <th>Erwartete Dauer in Millisekunden</th>
                        <th>Debug Meldungen</th>
                    </tr>
                    <tr>
                        <td>{{importerStatus.name}}</td>
                        <td>{{importerStatus.running}}</td>
                        <td>{{importerStatus.progressInPercentage}}</td>
                        <td>{{importerStatus.succesfullyFinished}}</td>
                        <td>{{importerStatus.timeStarted | date:'dd.MM.yyyy HH:mm:ss'}}</td>
                        <td>{{importerStatus.durationSoFarInMilliseconds}}</td>
                        <td>
                            <ul>
                                <li
                                        ng-repeat="info in importerStatus.collectedInfo">
                                    {{info}}
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <tr ng-repeat="importer in importerStatus.allExecutor">
                        <td>{{importer.name}}</td>
                        <td>{{importer.running}}</td>
                        <td>{{importer.progressInPercentage}}</td>
                        <td>{{importer.succesfullyFinished}}</td>
                        <td>{{importer.timeStarted| date:'dd.MM.yyyy HH:mm:ss'}}</td>
                        <td>{{importer.durationSoFarInMilliseconds}}</td>
                        <td>
                            <ul>
                                <li
                                        ng-repeat="info in importer.collectedInfo">
                                    {{info}}
                                </li>
                            </ul>
                        </td>

                    </tr>

                </table>

                <div ng-if="importerStatus == null">
                    Importer wurde während der aktuellen Laufzeit noch nicht gestartet. Keine Informationen
                    verfügbar.
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">


    <div class="col-sm-12 col-md-12 col-lg-12">

        <div class="jarviswidget jarviswidget-color-blueDark">
            <header>
                <h2>Debug
                </h2>
            </header>


            <div>
                <div>

                    <div class="btn btn-xs btn-danger" ng-click="startDummyDataGeneration()">Generiere Dummy Daten
                    </div>


                </div>
                <br>


            </div>
        </div>
    </div>
    <div class="row">


        <div class="col-sm-12 col-md-12 col-lg-12">

            <div class="jarviswidget jarviswidget-color-blueDark">
                <header>
                    <h2>Properties
                    </h2>
                </header>


                <div>
                    <tabset>
                        <tab heading="Aktuell">
                            Hallo
                        </tab>
                        <tab heading="Default">
                            Hallo2
                        </tab>
                        <tab heading="Config">
                            Hallo2
                        </tab>
                        <tab heading="Live">
                            Hallo2
                        </tab>
                    </tabset>

                    <div class="widget-body">
                        <div ng-if="serverProperties != null">

                            <table>
                                <tr>
                                    <td><h2>Property</h2></td>
                                    <td><h2>Aktuell</h2></td>
                                    <td><h2>
                                        <select ng-model="showColumn"
                                                ng-options="columnName for  columnName in showColumnSelect">
                                        </select></h2>
                                    </td>
                                </tr>

                                <tr ng-class-odd="'row-odd'"
                                    ng-class-even="'row-even'"
                                    ng-repeat="(key, value) in serverProperties.list[0].default">
                                    <td>
                                        {{key}}
                                    </td>
                                    <td bgcolor="#66aa66">
                                        {{serverProperties.list[0].live[key]||serverProperties.list[0].config[key]||serverProperties.list[0].default[key]}}

                                    </td>
                                    <td ng-show="showColumn=='default'">
                                        {{serverProperties.list[0].default[key]}}
                                    </td>
                                    <td ng-show="showColumn=='config'">
                                        {{serverProperties.list[0].config[key]}}
                                    </td>
                                    <td ng-show="showColumn=='live'">
                                        <div rt-application-property property-name="{{key}}"
                                             server-properties="serverProperties"></div>
                                    </td>
                                    <td>

                                    </td>
                                </tr>


                            </table>

                        </div>


                        <div ng-if="serverProperties == null">
                            Properties nicht verfügbar
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">

            <div class="alert alert-warning fade in">
                <button class="close" data-dismiss="alert">
                    ×
                </button>
                <i class="fa-fw fa fa-warning"></i>
                <strong>Achtung</strong> Bei Klick auf den Knopf "ServerStatus anfordern" wird der gesamte
                Serverstatus
                angefragt. Dies
                kann ein paar Sekunden dauern und löst u.A. das Versenden von einer Testmail aus.
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">

            <a class="btn btn-default btn-lg" ng-click="calculateServerStatus()">
                <i ng-show="loading" class="fa fa-spinner"></i>
                <span ng-hide="loading">Serverstatus anfordern</span>
                <span ng-show="loading">Serverstatus wird angefordert</span>
            </a>
        </div>

    </div>


    <div class="row" ng-repeat="service in data.list">


        <div class="col-sm-12 col-md-12 col-lg-12">

            <div class="jarviswidget jarviswidget-color-blueDark">
                <header>
                    <h2>{{service.name}}
                        <ng-switch on="service.isWorking">
                            <span ng-switch-when="true" style="background-color:#0f0;color:#000">GOOD</span>
                            <span ng-switch-when="false" style="background-color:#f00">BAD</span>
                            <span ng-switch-default style="background-color:#ff0;color:#000">NOT TESTED</span>
                        </ng-switch>
                    </h2>
                </header>

                <div>

                    <div class="widget-body">
                        <p ng-repeat="s in service.log">{{s}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>