<div class="row">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
        <h1 class="page-title txt-color-blueDark">
            <i class="fa fa-table fa-fw "></i>
            Tabelle
            <span>
                {{tableViewParams.tableTitle}}
			</span>
        </h1>
    </div>
    <div class="col-xs-12 col-sm-5 col-md-5 col-lg-8">
        <ul id="sparks" class="">

            <h5> Treffer: {{tableViewParams.total}}</h5>
            <h5> Seite: {{tableViewParams.page}}</h5>
        </ul>
    </div>
</div>
<div class="">
    <div loading-container="tableParams.settings().$loading">
        <!--<p><strong>Filter:</strong> {{tableParams.filter()|json}}-->

        <table ng-table="tableParams" show-filter="true" class="table">

            <tr>
                <th>{{tableViewParams.idTitle}}</th>
                <th ng-repeat="col in tableViewParams.columns">{{col.title}}
                </th>
                <th>Aktion</th>
            </tr>

            <tr>
                <th>
                    <div ng-hide="col.propFilterHidden" class="simpleth">
                        <input type="text" ng-model="tableParams.filter()[tableViewParams.idField]"></div>
                </th>
                <th ng-repeat="col in tableViewParams.columns" ng-switch on="col.type">
                    <div ng-hide="col.propFilterHidden" class="simpleth">
                        <select ng-switch-when="boolean" ng-model="tableParams.filter()[col.propFilter]"
                                >
                            <option value="">Alle</option>
                            <option value="true">AN</option>
                            <option value="false">AUS</option>
                        </select>
                        <span ng-switch-when="picarray"></span>
                        <span ng-switch-when="img"></span>
                        <input type="text" ng-model="tableParams.filter()[col.propFilter]" ng-switch-default
                                >
                    </div>
                </th>
                <th></th>
            </tr>

            <tr ng-repeat="object in $data">
                <td>
                    <div class="simpletd"><a
                            ng-href="#/{{tableViewParams.tableName}}/{{object[tableViewParams.idLink]}}">{{object[tableViewParams.idField]}}</a>
                    </div>
                </td>
                <td ng-repeat="col in tableViewParams.columns" ng-switch on="col.type"
                        >
                    <div class="simpletd">
                        <a ng-href="{{object[col.prop]}}" target="img"><img height="96" ng-src="{{object[col.prop]}}"
                                                                            ng-switch-when="img"></a>
                        <a ng-href="{{object[col.prop][0].imageUrlStatic}}" target="img"><img height="96"
                                                                                              ng-src="{{object[col.prop][0].imageUrlStatic}}"
                                                                                              ng-switch-when="picarray"></a>
                        <span ng-switch-when="boolean" ng-switch on="object[col.prop]">
                            <i class="fa fa-check-square-o" ng-switch-when="true"></i>
                            <i class="fa fa-square-o" ng-switch-default></i>
                        </span>
                        <span ng-switch-when="htmlfiltered"
                              ng-bind-html="col.transform(object[col.prop]) || {{col.filter}}">

                        </span>
                        <span ng-switch-default>{{object[col.prop]}}</span>
                    </div>
                </td>
                <td><a ng-click="tableViewParams.deleteSimpleEntry(object)" class="btn btn-danger">
                    <i class="glyphicon glyphicon-trash"></i>
                </a>
                </td>
            </tr>

        </table>

        <button ng-if="tableViewParams.showCreateDefaultButton" class="btn btn-success btn-lg"
                ng-click="tableViewParams.createSimpleEntry()">Neuen Eintrag erstellen
        </button>
    </div>
</div>

<!--
 <span ng-switch-when="boolean" ng-switch on="object[col.prop]">
                    <i class="fa fa-check-square-o" ng-switch-when="true"></i>
                    <i class="fa fa-square-o" ng-switch-default></i>
                </span>
                -->