<div class="MessageBoxContainer animated fadeIn fast" id="Msg1">
    <div class="MessageBoxMiddle"><span class="MsgTitle"><i class="fa fa - sign - out txt-color - orangeDark"></i> {{title}} <span
            class="txt - color - orangeDark"><strong></strong></span>  </span>

        <p class="pText"> {{message}}</p>

        <div class="MessageBoxButtonSection">
            <button class="btn btn-default btn-sm botTempo" ng-repeat="btn in buttons" ng-click="btn.method()">
                {{btn.title}}
            </button>

            </button>


        </div>
    </div>
</div>