<table class="detailPageTable">
    <tr ng-repeat="(key,d) in data">
        <td>
            <div class="detailPageTableText">{{key}}:</div>
        </td>
        <td>
            <!-- info: {{typeof(d)}} -->
            <ng-switch on="typeof(d)">
                <div ng-switch-when="boolean">
                    <input type="checkbox" ng-model="data[key]">
                </div>
                <div ng-switch-when="object">
                    <div class="ng-include:'views/simpledetailentry.html';" onload="data=d;"></div>
                </div>

                <!-- remark: "null" is interpreted as object.... -->
                <div ng-switch-default>
                    <input type="text" ng-model="data[key]">
                </div>

            </ng-switch>
            <ng-switch on="typeof(d)">
                <div ng-switch-when="string">
                    <div ng-if="isImage(d)">
                        <img ng-src="{{d}}">
                    </div>
                </div>
            </ng-switch>
        </td>
    </tr>
</table>