<!--<div class="row">
    <p>
        <button class="btn btn-default" href back-button>

            <i class="glyphicon glyphicon-chevron-left"></i>
        </button>
    </p>
</div>-->


<div class="row simpledetailsmenu">

    <div class=" col-sm-12">

        <button class="btn btn-success" ng-click="saveSimpleEntry(data)">Speichern</button>
        <button class="btn btn-success" ng-click="deleteSimpleEntry(data)">Löschen</button>
        <button class="btn btn-success" ng-click="createDuplicate(data)">Kopie Erstellen</button>
        <button class="btn btn-default" ng-click="isVisible = !isVisible">Rohdaten</button>

    </div>

</div>

<div class="row" ng-if="isVisible">
    <div class="col-sm-12">
        <div class="well">
            <h2>Rohdaten - {{detailViewParams.viewTitle}} '{{detailViewParams.viewSecondTitle}}'</h2>

            <div class="ng-include:'views/simpledetailentry.html';"></div>
        </div>
    </div>
</div>
<br/>
<span foreversymbol>-</span>markierte Felder bleiben beim  Import erhalten
