<div class="row">
    <div class="col-sm-12">
        <h2>Startseite für Corporate</h2>
        <table>
            <tr>
                <td>
                    Corporate:
                </td>
                <td><select ng-model="data.corporateId"
                            ng-options="corporate.id as corporate.name for corporate in corporates"></select>
                </td>
            </tr>
            <tr>
                <td>
                    Startseite-Name:
                </td>
                <td><input type="text" ng-model="data.name"></td>
            </tr>
        </table>

        <h2>Marketing Kacheln</h2>

        <div style="width:100%;overflow:auto;">
            <div ng-repeat="marketing in data.webPages | orderBy:'sortIndex'"
                 style="display:block;overflow: scroll;float:left;" class="well">
                <button style="float:right" ng-click="deleteMarketingPage(marketing)"><span
                        class="glyphicon glyphicon-trash"></span></button>

                <table>
                    <tr>
                        <td>Seite (Id)</td>
                        <td><input
                                type="text" ng-model="marketing.pageId"
                                typeahead="fcat.id as fcat.name for fcat in findMarketingPages($viewValue)"
                                ng-click="marketing.pageId=''"><br/>

                            <select ng-model="marketing.pageId"
                                    ng-options="fcat.id as fcat.name for fcat in pagesAsList"></select>

                        </td>
                    </tr>
                    <tr>
                        <td>Position in Angeboten (0..)</td>
                        <td><input type="text" ng-model="marketing.sortIndex"></td>
                    </tr>
                    <tr>
                        <td>Seite editieren</td>
                        <td><a ng-href="#/page/{{marketing.pageId}}">Link</a></td>
                    </tr>
                    <tr>
                        <td>Fullpage-Link</td>
                        <td>
                            <a ng-href="{{pages[marketing.pageId].fullPageUrl}}">{{pages[marketing.pageId].fullPageUrl}}</a>
                        </td>
                    </tr>
                    <tr>
                        <td>Sichtbarkeit</td>
                        <td>
                            {{pages[marketing.pageId].visibility}}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div style="margin:auto;overflow:hidden;width:320px;height:129px;background-color: #fff"
                                 ng-bind-html="pages[marketing.pageId].contentPreview | unsafe"></div>
                        </td>
                    </tr>


                </table>
            </div>

            <div class="startPageElement TILEPLAINSMALL">
                <div class="TILEPLAINWIDE">
                    <button ng-click="addMarketingPage()" style="width:100%;height:50px;" class="btn">

                        <span class="glyphicon glyphicon-plus"></span>

                    </button>
                </div>
            </div>

        </div>

        <h2>Kategorien</h2>

        <div style="width:312px;overflow:auto">

            <div ng-repeat="scat in data.categories" ng-class="'startPageElement ' +getTileClass(scat)"
                 ng-init="isCollapsed=true" style="background-color:white;"
                 tooltip="{{getCategoryByStartPageElement(scat).name}}">

                <div class="getTileClass(scat)">
                    <img ng-if="isImageVisible(scat)" ng-class="getTileClass(scat)"
                         ng-src="{{getCategoryByStartPageElement(scat).pictures[0].imageUrlStatic}}">

                    <div collapse="isCollapsed" class="tilemenuoverlay">

                        <select ng-model="scat.layout"
                                ng-options="r.value as r.title for r in productCategoyLayouts"> </select>


                        <input type="text" ng-model="scat.categoryId" class="form-control"
                               typeahead="fcat.id as fcat.name for fcat in findCategories($viewValue)"
                               ng-click="scat.categoryId=''" typeahead-loading="loadingCategories">
                        <h4 ng-show="loadingCategories">Lade...</h4>

                    </div>

                    <div ng-if="isNameVisible(scat)"
                         class="tilename">
                        {{getCategoryByStartPageElement(scat).name}}
                    </div>

                    <div class="tilemenu">
                        <button ng-click="moveStartPageElement(scat,false)"
                                ng-show="!$first"><span
                                class="glyphicon glyphicon-arrow-left"
                                ></span></button>
                        <button ng-click="moveStartPageElement(scat,true)"
                                ng-show="!$last"><span
                                class="glyphicon glyphicon-arrow-right"></span></button>
                        <button ng-click="deleteStartPageElement(scat)"><span class="glyphicon glyphicon-trash"></span>
                        </button>
                        <button ng-click="isCollapsed = !isCollapsed"><span class="glyphicon glyphicon-wrench"></span>
                        </button>

                    </div>


                </div>


            </div>


            <div class="startPageElement TILEPLAINSMALL">
                <div class="TILEPLAINSMALL">
                    <button ng-click="addStartPageElement()" style="width:150px;height:150px;" class="btn">

                        <span class="glyphicon glyphicon-plus"></span>

                    </button>
                </div>
            </div>


        </div>


    </div>
</div>


<div class="ng-include:'views/simpledetails.html';"></div>
