<div class="row">
    <div class="col-sm-12">


        <h1 ng-bind-template="Kunden - Reporting">
            Lade Daten...</h1>


        <a class="btn btn-default btn-lg" ng-click="calculateContactOverview()">
            <i ng-show="loadingUser" class="fa fa-spinner"></i>
            <span ng-hide="loadingUser">Alle Kunden mit Kontakteinwilligungsklausel anfordern</span>
            <span ng-show="loadingUser">Alle Kunden mit Kontakteinwilligungsklausel werden angefordert {{toCountUser}}</span>
        </a>


        <a class="btn btn-default btn-lg" ng-click="calculateUserOverview()">
            <i ng-show="loadingUserOverview" class="fa fa-spinner"></i>
            <span ng-hide="loadingUserOverview">Generelle Kundeninfos anfordern</span>
            <span ng-show="loadingUserOverview">Generelle Kundeninfos werden angefordert {{toCountUser}}</span>
        </a>

    </div>
</div>

<div class="row">
    <div class="col-sm-12">

        <div ng-show="userOverviewLoadedOnce">

            <div style="float:left;" class="well">

                <table class="table" style="max-width:320px">
                    <tr>
                        <th>Durchgeführte Bestellungen</th>
                        <th>Anzahl Kunden</th>
                    </tr>

                    <tr ng-repeat="d in configOrderCountPerCustomerData.data">
                        <td>{{d.x}}</td>
                        <td>{{d.y[0]}}</td>
                    </tr>
                </table>
            </div>


            <div style="float:left;" class="well">
                <div ac-chart="'pie'" ac-data="configOrderCountPerCustomerData" ac-config="configOrderCountPerCustomer"
                     id='chart3'
                     class='chart' style="width: 400px"></div>
            </div>


        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">

        <div ng-show="userOverviewLoadedOnce">
            <div style="float:left;" class="well">


                <table class="table" style="max-width:320px">
                    <tr>
                        <th>Marketingklausel</th>
                        <th>Anzahl Kunden</th>
                    </tr>

                    <tr>
                        <td>JA</td>
                        <td>{{countAccepted}}</td>
                    </tr>

                    <tr>
                        <td>NEIN</td>
                        <td>{{countNotAccepted}}</td>
                    </tr>
                </table>
            </div>
            <div style="float:left;" class="well">
                <div ac-chart="'pie'" ac-data="configMarketingYesData" ac-config="configMarketingYes"
                     id='chart2'
                     class='chart' style="width: 200px"></div>
            </div>


        </div>


    </div>
</div>

<div class="row">
    <div class="col-sm-12">

        <div ng-show="csvOrdersLoadedOnce">

            <textarea rows="20" style="width:100%;height:100%">{{csvOrders}}</textarea>

            <a class="btn btn-default" ng-click="downloadAsFile()">Als
                Datei
                speichern</a>

            <br/>

            <a class="btn btn-default btn-lg" ng-href="mailto:Mall2Go@t-systems.com?bcc={{allMailsAsString}}">Email
                an alle in Mailprogramm schreiben (BCC)</a>


            <h2>Debug-Meldungen</h2>
            <textarea style="width:100%;height:100%">{{debugText}}</textarea>


        </div>
    </div>

</div>
