<div class="row">
    <div class="col-sm-12">

        <h1 ng-bind-template="Bestellungen - Reporting">
            Lade Daten...</h1>


        <input type="checkbox" ng-model="useDateFilter">Datumsfilter</input> <br/>

        <div ng-show="useDateFilter">

            <div style="display:inline-block; min-height:290px;">
                <h1>Von {{dtStart | date:'dd.MM.yyyy'}}</h1>

                <datepicker ng-model="dtStart" show-weeks="true"
                            class="well well-sm"></datepicker>
            </div>


            <div style="display:inline-block; min-height:290px;">
                <h1>Bis {{dtEnd | date:'dd.MM.yyyy'}}</h1>

                <datepicker ng-model="dtEnd" min-date="dtStart" show-weeks="true" class="well well-sm"
                        ></datepicker>
            </div>
        </div>


        <a class="btn btn-default btn-lg" ng-click="calculateOrderStats()">
            <i ng-show="loading" class="fa fa-spinner"></i>
            <span ng-hide="loading">Warenkorbelemente anfordern</span>
            <span ng-show="loading">Warenkorbelemente werden angefordert {{toCount}}</span>
        </a>

        <a class="btn btn-default btn-lg" ng-click="calculateOrderOverviewStats()">
            <i ng-show="loadingOverview" class="fa fa-spinner"></i>
            <span ng-hide="loadingOverview">Generelle Bestellinfos anfordern</span>
            <span ng-show="loadingOverview">Generelle Bestellinfos werden angefordert {{toCountOverview}}</span>
        </a>


        <div ng-show="csvOrdersLoadedOnce">

            <div ng-show="currentTab === 'overview'">

                <div class="well">
                    <div ac-chart="'line'" ac-data="configOrderOverViewData" ac-config="configOrderOverview" id='chart'
                         class='chart'></div>
                </div>
                <div style="float:left;" class="well">

                    <h2>Bestellmengen in € (Brutto)</h2>
                    <table class="table" style="max-width:320px">
                        <tr>
                            <th>Wert</th>
                            <th>Anzahl Bestellungen</th>
                        </tr>
                        <tr ng-repeat="d in configOrderBasketPriceViewData.data">
                            <td>{{d.x}}</td>
                            <td>{{d.y[0]}}</td>
                        </tr>
                        <tr>
                            <td>Durchschnittlicher Bestellwert</td>
                            <td>{{averageOrderValue}}</td>
                        </tr>
                    </table>

                </div>

                <div style="float:left;" class="well">
                    <div ac-chart="'pie'" ac-data="configOrderBasketPriceViewData" ac-config="configOrderBasketPrice"
                         id='chart2'
                         class='chart' style="width: 400px"></div>
                </div>

            </div>

            <textarea rows="20" style="width:100%;height:100%">{{csvOrders}}</textarea>

            <a class="btn btn-default" ng-click="downloadAsFile()">Als
                Datei
                speichern</a>

            <br/>

            <h2>Debug-Meldungen</h2>
            <textarea style="width:100%;height:100%">{{debugText}}</textarea>
        </div>
    </div>

</div>
