<div class="row">
<div class="col-sm-12">

<tabset>
<tab heading="Allgemein">


    <h1 ng-bind-template="Kunde {{data.firstName}} {{data.lastName}}">Lade Daten...</h1>
    <table class="table detailPageTable">
        <tr>
            <td>Registriert am</td>
            <td>{{data.metaData.creationTimestamp | date:'dd.MM.yyyy HH:mm'}}</td>
        </tr>

        <tr>
            <td>Anrede</td>
            <td><select ng-model="data.salutation"
                        ng-options="v.value as v.title for v in salutations"> </select>
            </td>
        </tr>
        <tr>
            <td>Vorname</td>
            <td><input type="text" ng-model="data.firstName"></td>
        </tr>
        <tr>
            <td>Nachname</td>
            <td><input type="text" ng-model="data.lastName"></td>
        </tr>
        <tr>
            <td>Email</td>
            <td><input type="text" ng-model="data.email"></td>
        </tr>
        <tr>
            <td>AAX CustomerId</td>
            <td><input type="text" ng-model="data.customerID"></td>
        </tr>
        <tr>
            <td>Mobilfunk-Nummer</td>
            <td><input type="text" ng-model="data.mobilePhoneNumber"></td>
        </tr>
        <tr>
            <td>Aktiv</td>
            <td><input type="checkbox" ng-model="data.active"></td>
        </tr>
        <tr>
            <td>Geblockt</td>
            <td><input type="checkbox" ng-model="data.blocked"></td>
        </tr>
        <tr>
            <td>Fehlgeschlagene Loginversuche</td>
            <td><input type="text" ng-model="data.failedLogins"></td>
        </tr>
        <tr>
            <td>Marketing-Kontakt Einwilligungsklausel</td>
            <td><input type="checkbox" ng-model="data.flags.marketingContact"></td>
        </tr>
        <tr>
            <td>Allgemeine Geschäftsbedingungen</td>
            <td><input type="checkbox" ng-model="data.flags.termsAndConditions"></td>
        </tr>
        <tr>
            <td>Datenschutz Einwilligungsklausel</td>
            <td><input type="checkbox" ng-model="data.flags.favoritePaymentType"></td>
        </tr>
        <tr>
            <td>Rolle</td>
            <td>
                <select ng-model="data.role" ng-options="r.role as r.title for r in roles"> </select>
            </td>

        </tr>
        <tr>
            <td>Adresse</td>
            <td>
                <table class="detailPageTable">
                    <tr>
                        <td>Strasse</td>
                        <td><input type="text" ng-model="data.address.street"></td>
                    </tr>
                    <tr>
                        <td>Hausnummer</td>
                        <td><input type="text" ng-model="data.address.houseNumber"></td>
                    </tr>
                    <tr>
                        <td>PLZ</td>
                        <td><input type="text" ng-model="data.address.postalCode"></td>
                    </tr>
                    <tr>
                        <td>Stadt</td>
                        <td><input type="text" ng-model="data.address.city"></td>
                    </tr>
                    <tr>
                        <td>Land</td>
                        <td><input type="text" ng-model="data.address.country"></td>
                    </tr>
                </table>
            </td>
        </tr>


    </table>


</tab>

<tab heading="Letzte Bestellungen">

    <table class="table detailPageTable">
        <tr>
            <th>Bestellzeitpunkt</th>
            <th>Status</th>
            <th>Produkte</th>
        </tr>
        <tr ng-repeat="order in orders">

            <td><a ng-href="#/order/{{order.id}}">{{order.creationTime | date:'dd.MM.yyyy HH:mm'}}</a>
            </td>
            <td>{{getOrderState(order.state)}}</td>
            <td>
                <table class="table detailPageTable">
                    <tr ng-repeat="item in order.items">
                        <td>{{item.count}}x</td>
                        <td><a ng-href="#/product/{{item.product.id}}">{{item.product.name}}</a></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</tab>
<tab heading="Warenkorb">

    <table class="table detailPageTable">
        <tr ng-repeat="item in basket.items">
            <td>{{item.count}}x</td>
            <td><a ng-href="#/product/{{item.product.id}}">{{item.product.name}}</a></td>
        </tr>
    </table>

</tab>
<tab heading="Merkliste">

    <table class="table detailPageTable">
        <tr ng-repeat="item in note.items">
            <td>{{item.count}}x</td>
            <td><a ng-href="#/product/{{item.product.id}}">{{item.product.name}}</a></td>
        </tr>
    </table>

</tab>
<tab heading="Ausstehende Empfehlungen (Erhalten)">

    <table class="table detailPageTable">
        <tr>
            <th>Datum</th>
            <th>Versendet</th>
            <th>Gelesen</th>
            <th>Absender</th>
            <th>Nachricht</th>
            <th>Empfänger-Mail</th>
            <th>Inhalt</th>
        </tr>


        <tr ng-repeat="item in receivedSuggestions">
            <td>{{item.metaData.creationTimestamp | date:'dd.MM.yyyy HH:mm'}}</td>
            <td>{{item.send}}</td>

            <td>{{item.read}}</td>

            <td><a ng-href="#/user/{{item.sender.id}}">{{item.sender.firstName}}
                {{item.sender.lastName}}</a></td>
            <td>{{item.message}}</td>
            <td>{{item.receiverEmail}}</td>
            <td>
                <table class="table detailPageTable">
                    <tr ng-repeat="item in item.items">
                        <td>{{item.count}}x</td>
                        <td><a ng-href="#/product/{{item.product.id}}">{{item.product.name}}</a></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

</tab>

<tab heading="Ausstehende Empfehlungen (Versendet) ">

    <table class="table detailPageTable">
        <tr>
            <th>Datum</th>
            <th>Versendet</th>
            <th>Gelesen</th>
            <th>Absender</th>
            <th>Nachricht</th>
            <th>Empfänger-Mail</th>
            <th>Inhalt</th>
        </tr>


        <tr ng-repeat="item in sentSuggestions">
            <td>{{item.metaData.creationTimestamp | date:'dd.MM.yyyy HH:mm'}}</td>
            <td>{{item.send}}</td>

            <td>{{item.read}}</td>

            <td><a ng-href="#/user/{{item.sender.id}}">{{item.sender.firstName}}
                {{item.sender.lastName}}</a></td>
            <td>{{item.message}}</td>
            <td>{{item.receiverEmail}}</td>
            <td>
                <table class="table detailPageTable">
                    <tr ng-repeat="item in item.items">
                        <td>{{item.count}}x</td>
                        <td><a ng-href="#/product/{{item.product.id}}">{{item.product.name}}</a></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

</tab>

<tab heading="Zugeordnete Workflows">
    <table class="table detailPageTable">
        <tr>
            <th>WorkflowName</th>
            <th>Datum</th>
            <th>Zustand</th>
            <th>Aktueller Schritt</th>
        </tr>


        <tr ng-repeat="item in workflows">
            <td><a ng-href="#/workflow/{{item.id}}">{{item.workflowName}}</a></td>
            <td>{{item.metaData.creationTimestamp | date:'dd.MM.yyyy HH:mm'}}</td>
            <td>{{item.workflowState}}</td>
            <td>{{item.currentState.activityName}}</td>
        </tr>
    </table>

</tab>

<tab heading="Zugeordnete AppDevices">
    <table class="table detailPageTable">
        <tr>
            <th>Device-Typ</th>
            <th>Letzte Änderung</th>
            <th>Production</th>
            <th>Token</th>
        </tr>


        <tr ng-repeat="item in appDevices">
            <td><a ng-href="#/appdevice/{{item.id}}">{{item.deviceType}}</a></td>
            <td>{{item.metaData.lastChangedTimestamp | date:'dd.MM.yyyy HH:mm'}}</td>
            <td>{{item.isProduction}}</td>
            <td>{{item.token}}</td>
        </tr>
    </table>

</tab>
</tabset>
</div>

</div>




<div class="ng-include:'views/simpledetails.html';"></div>
