<div class="row">
    <div class="col-sm-12">

        <h1 ng-bind-template="Workflow {{data.id}}">Lade Daten...</h1>
        <table class="table detailPageTable">
            <tr>
                <td>Datum</td>
                <td>{{data.metaData.creationTimestamp | date:'dd.MM.yyyy HH:mm'}}</td>
            </tr>
            <tr>
                <td>Name</td>
                <td>
                    <input type="text" ng-model="data.workflowName">
                </td>
            </tr>
            <tr>
                <td>Zustand</td>
                <td><select ng-model="data.workflowState" ng-options="v.value as v.title for v in states"> </select>
                </td>
            </tr>


        </table>


        <h2 ng-bind-template="Aktueller Zustand">Lade Daten...</h2>
        <table class="table detailPageTable">
            <tr>
                <td>Aktivitäts-Name</td>
                <td>
                    <input type="text" ng-model="data.currentState.activityName">
                </td>
            </tr>
            <tr>
                <td>Workflow-Name</td>
                <td>
                    <input type="text" ng-model="data.currentState.workflowName">
                </td>
            </tr>
            <tr>
                <td>Wiederholungen</td>
                <td>
                    <input type="text" ng-model="data.currentState.retries">
                </td>
            </tr>
            <tr>
                <td>Zustand</td>
                <td><select ng-model="data.currentState.workflowStateEnum"
                            ng-options="v.value as v.title for v in states"> </select>
                </td>
            </tr>
            <tr ng-if="activity.errorMessage.length > 0">
                <td>Fehlermeldung</td>
                <td>
                    <textarea type="text" ng-model="data.currentState.errorMessage"></textarea>
                </td>
            </tr>
            <tr>
                <td>Daten</td>
                <td>{{data.currentState.contextData | json}}</td>
            </tr>


        </table>


        <h2 ng-bind-template="Historie">Lade Daten...</h2>

        <accordion close-others="true">
            <accordion-group ng-repeat="activity in data.history" heading="{{activity.activityName}}">
                <table class="table detailPageTable">
                    <tr>
                        <td>Aktivitäts-Name</td>
                        <td>
                            <input type="text" ng-model="activity.activityName">
                        </td>
                    </tr>
                    <tr>
                        <td>Workflow-Name</td>
                        <td>
                            <input type="text" ng-model="activity.workflowName">
                        </td>
                    </tr>
                    <tr>
                        <td>Wiederholungen</td>
                        <td>
                            <input type="text" ng-model="activity.retries">
                        </td>
                    </tr>
                    <tr>
                        <td>Zustand</td>
                        <td><select ng-model="activity.workflowStateEnum"
                                    ng-options="v.value as v.title for v in states"> </select>
                        </td>
                    </tr>
                    <tr ng-if="activity.errorMessage.length > 0">
                        <td>Fehlermeldung</td>
                        <td>
                            <textarea type="text" ng-model="activity.errorMessage"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>Daten</td>
                        <td>{{activity.contextData | json}}</td>
                    </tr>


                </table>
            </accordion-group>


        </accordion>


    </div>

</div>


<div class="ng-include:'views/simpledetails.html';"></div>
